# 1 Data preparation

This script contains data cleaning/converting and summary statistics

In [1]:
import matplotlib.pyplot as plt
import cartopy
import cartopy.io.shapereader as shpreader
import cartopy.crs as ccrs
import matplotlib.patches as mpatches
import geopandas as gpd
import pandas as pd
import numpy as np
from datetime import date
from mpl_toolkits.axes_grid1 import make_axes_locatable

# 1.1 Distribution of recorded extreme events

In this section we derive the shares of flood impacts from overall impacts recorded in EM-DAT

In [2]:
# load original data set provided by Munich Re (from 2008 onwards)
emdat_org=pd.read_excel('/home/insauer/projects/submission_vul_sat/input_data/emdat_public_2023_01_18_query_uid-3vt2SV.xlsx', header =6)
emdat_org=emdat_org.loc[emdat_org['Year']>=2008]
emdat_org.iloc[:,20:40]

,Declaration,AID Contribution ('000 US$),Dis Mag Value,Dis Mag Scale,Latitude,Longitude,Local Time,River Basin,Start Year,Start Month,Start Day,End Year,End Month,End Day,Total Deaths,No Injured,No Affected,No Homeless,Total Affected,Reconstruction Costs ('000 US$)
10358,NaN,NaN,110500.0,Km2,-35.86,-71.95,NaN,NaN,2008,5.0,19.0,2008,5.0,27.0,5.0,NaN,40000.0,NaN,40000.0,NaN
10359,Yes,NaN,NaN,Km2,NaN,NaN,NaN,NaN,2008,7.0,2.0,2008,7.0,3.0,27.0,NaN,17300.0,NaN,17300.0,NaN
10360,NaN,NaN,175.0,Kph,NaN,NaN,NaN,NaN,2008,4.0,19.0,2008,4.0,19.0,25.0,NaN,274000.0,NaN,274000.0,NaN
10361,NaN,NaN,NaN,Kph,NaN,NaN,NaN,NaN,2008,8.0,18.0,2008,8.0,18.0,4.0,NaN,NaN,NaN,NaN,NaN
10362,NaN,NaN,NaN,Kph,NaN,NaN,NaN,NaN,2008,7.0,21.0,2008,7.0,21.0,17.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16506,NaN,NaN,NaN,Vaccinated,NaN,NaN,NaN,NaN,2022,4.0,4.0,2022,5.0,2.0,8.0,607.0,NaN,NaN,607.0,NaN
16507,NaN,NaN,2104.0,Vaccinated,NaN,NaN,NaN,NaN,2022,4.0,19.0,2022,9.0,27.0,5.0,141.0,NaN,NaN,141.0,NaN
16508,NaN,NaN,NaN,Vaccinated,NaN,NaN,NaN,NaN,2022,4.0,NaN,2022,11.0,NaN,750.0,6551.0,NaN,NaN,6551.0,NaN
16509,NaN,NaN,NaN,Vaccinated,NaN,NaN,NaN,NaN,2022,1.0,NaN,2022,1.0,31.0,20.0,NaN,1353.0,NaN,1353.0,NaN
16510,NaN,NaN,NaN,Km2,NaN,NaN,NaN,Mori River,2022,8.0,NaN,2022,10.0,29.0,NaN,NaN,1000000.0,NaN,1000000.0,NaN

In [3]:
# display all existing event categories
set(emdat_org['Disaster Type'])

{'Animal accident',
 'Drought',
 'Earthquake',
 'Epidemic',
 'Extreme temperature',
 'Flood',
 'Glacial lake outburst',
 'Impact',
 'Insect infestation',
 'Landslide',
 'Mass movement (dry)',
 'Storm',
 'Volcanic activity',
 'Wildfire'}

In [4]:
event_classes=emdat_org.groupby('Disaster Type').sum()
event_classes['damage_share']=event_classes["Total Damages, Adjusted ('000 US$)"]/event_classes["Total Damages, Adjusted ('000 US$)"].sum()
event_classes['fatalities_share']=event_classes['Total Deaths']/event_classes['Total Deaths'].sum()

In [5]:
event_classes

,Year,Seq,AID Contribution ('000 US$),Dis Mag Value,Start Year,Start Month,Start Day,End Year,End Month,End Day,...,Total Affected,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damages ('000 US$),"Insured Damages, Adjusted ('000 US$)",Total Damages ('000 US$),"Total Damages, Adjusted ('000 US$)",CPI,damage_share,fatalities_share
Disaster Type,,,,,,,,,,,,,,,,,,,,,
Animal accident,2014,461,0.0,0.0,2014,11.0,17.0,2014,11.0,17.0,...,5.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,87.366298,0.000000,0.000015
Drought,493597,2297266,18149.0,0.0,493608,1105.0,49.0,493744,1442.0,246.0,...,924705759.0,0.0,0.0,20954000.0,24521130.0,1.316296e+08,1.344730e+08,20184.784500,0.050579,0.028045
Earthquake,767733,119234,5392530.0,2403.0,767733,2475.0,5951.0,767733,2476.0,5943.0,...,93034429.0,27877363.0,31670462.0,86023800.0,99333396.0,4.978426e+08,5.841024e+08,30809.016750,0.219699,0.448273
Epidemic,753070,145938,11344.0,20668162.0,753075,1965.0,2337.0,753148,2663.0,4022.0,...,7859998.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,30603.037253,0.000000,0.084529
Extreme temperature,519528,76081,33033.0,594.0,519536,1399.0,2638.0,519558,1282.0,2963.0,...,91119330.0,0.0,0.0,3965000.0,4799602.0,3.577492e+07,4.286651e+07,21640.133619,0.016123,0.105330
Flood,4921300,803963,3487668.0,86444626.0,4921300,15982.0,33646.0,4921349,16230.0,36223.0,...,919861229.0,2724361.0,3254783.0,69419866.0,71602829.0,5.874626e+08,6.180027e+08,200446.434157,0.232450,0.094741
Glacial lake outburst,6064,707,0.0,0.0,6064,13.0,33.0,6064,13.0,34.0,...,24.0,0.0,0.0,0.0,0.0,2.100000e+05,2.100000e+05,200.000000,0.000079,0.000325
Impact,2013,60,0.0,0.0,2013,2.0,15.0,2013,2.0,15.0,...,301491.0,0.0,0.0,0.0,0.0,3.300000e+04,3.838500e+04,85.971642,0.000014,0.000000
Insect infestation,24211,6057,100.0,0.0,24217,50.0,18.0,24220,30.0,0.0,...,2800000.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,1105.464763,0.000000,0.000000
Landslide,545981,79276,14165.0,8089539.0,545981,1686.0,4229.0,545983,1675.0,4180.0,...,3587853.0,0.0,0.0,33900.0,39096.0,4.237414e+06,4.867149e+06,22241.391026,0.001831,0.015417
Mass movement (dry),18108,2585,0.0,0.0,18108,48.0,106.0,18108,48.0,106.0,...,3927.0,0.0,0.0,0.0,0.0,8.000000e+03,9.305000e+03,758.844618,0.000003,0.000317
Storm,3113547,506740,1918675.0,718743.0,3113550,10348.0,23737.0,3113555,10405.0,24193.0,...,470259141.0,1175000.0,1432689.0,449787224.0,429155211.0,1.171336e+09,1.177279e+09,127280.163490,0.442811,0.219383
Volcanic activity,141076,22853,12284.0,12.0,141076,468.0,990.0,141080,458.0,1152.0,...,5021628.0,0.0,0.0,0.0,0.0,3.286564e+06,3.375498e+06,5761.509906,0.001270,0.001846
Wildfire,312524,54036,1274.0,250866.0,312524,994.0,1721.0,312527,1089.0,2112.0,...,12541017.0,643000.0,710810.0,45659000.0,50109253.0,8.593513e+07,9.342591e+07,12441.764662,0.035140,0.001779

In [6]:
# Data from IDMC https://www.internal-displacement.org/database/displacement-data
displaced_floods=185.5
displaced_all_disasters=376
displaced_floods/displaced_all_disasters

0.4933510638297872

# 1.2 Compare complete datasets with matched datasets

In this part we compare the number of events reported in NatCatSERVICE (2000-2016), EM-DAT (2000-2018) and IDMC (2008-2018) with the number of events matched with GFD.

In [7]:
# load complete Natcat Dataset
natcat_all=pd.read_csv('/home/insauer/projects/submission_vul_sat/input_data/natcat_CPI_adjusted_ppp2011.csv')
natcat_all=natcat_all.loc[natcat_all['year']>1999]
natcat_all

,Unnamed: 0,year,begin,end,event,type,subtype,ISO,country,Continent,...,Latitude,Reg_name,ID,Reg_ID,CPI_conv,GDP_conv,unexact_conv,CPI_conv_ppp,GDP_conv_ppp,unexact_conv_ppp
3177,11956,2000,2000-01-01,2000-01-05,"Flood, landslide",C,gf:General flood,BRA,Brazil,AMER,...,-18.000000,LAN,29.0,3.0,4.438128,7.679622,0.0,3.256022,5.634136,0.0
3178,11970,2000,2000-01-05,2000-01-05,Flood,C,gf:General flood,VEN,Venezuela,AMER,...,7.833000,LAN,220.0,3.0,0.072807,0.134760,0.0,0.038490,0.071243,0.0
3179,11983,2000,2000-01-12,2000-01-13,Flood,C,gf:General flood,GBR,United Kingdom,EUROP,...,52.917000,EUR,71.0,11.0,0.013594,0.015934,0.0,0.013412,0.015721,0.0
3180,11984,2000,2000-01-13,2000-01-13,Flood,C,gf:General flood,BRA,Brazil,AMER,...,-23.550000,LAN,29.0,3.0,0.022191,0.038398,0.0,0.016280,0.028171,0.0
3181,11989,2000,2000-01-14,2000-01-14,Flood,C,gf:General flood,AGO,Angola,AFRIC,...,-12.967000,SAF,3.0,13.0,0.065313,0.571502,0.0,0.031248,0.273421,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8818,30550,2016,2016-12-26 00:00:00,2016-12-27 00:00:00,Flash flood,C,ff:Flash flood,COD,"Congo, the Democratic Republic of the",AFRIC,...,-5.848732,SSA,41.0,5.0,0.454826,0.316797,0.0,0.449840,0.313323,0.0
8819,30553,2016,2016-12-27 00:00:00,2016-12-28 10:22:25,"Flash flood, severe storm",C,ff:Flash flood,AUS,Australia,OCEAN,...,-34.928690,AUS,13.0,10.0,12.536571,12.107510,0.0,12.091528,11.677699,0.0
8820,30555,2016,2016-12-28 00:00:00,2016-12-30 00:00:00,Flash flood,C,ff:Flash flood,TUR,Turkey (Asia),ASIA,...,36.804536,ARA,210.0,15.0,12.148503,10.749940,0.0,12.770431,11.300270,0.0
8821,30557,2016,2016-12-29 00:00:00,2016-12-30 00:00:00,"Flash flood, landslide",C,ff:Flash flood,ECU,Ecuador,AMER,...,-1.482849,LAN,58.0,3.0,1.874437,1.500663,0.0,1.754582,1.404708,0.0
8822,30560,2016,2016-12-30 00:00:00,2016-12-30 00:00:00,"Flash flood, landslide",C,ff:Flash flood,BOL,Bolivia,AMER,...,-16.983333,LAN,28.0,3.0,1.166735,1.018253,0.0,1.059028,0.924253,0.0

In [8]:
# all events with Fatalities
natcat_all.loc[(~natcat_all['Fatalities'].isna())]

,Unnamed: 0,year,begin,end,event,type,subtype,ISO,country,Continent,...,Latitude,Reg_name,ID,Reg_ID,CPI_conv,GDP_conv,unexact_conv,CPI_conv_ppp,GDP_conv_ppp,unexact_conv_ppp
3177,11956,2000,2000-01-01,2000-01-05,"Flood, landslide",C,gf:General flood,BRA,Brazil,AMER,...,-18.000000,LAN,29.0,3.0,4.438128,7.679622,0.0,3.256022,5.634136,0.0
3178,11970,2000,2000-01-05,2000-01-05,Flood,C,gf:General flood,VEN,Venezuela,AMER,...,7.833000,LAN,220.0,3.0,0.072807,0.134760,0.0,0.038490,0.071243,0.0
3179,11983,2000,2000-01-12,2000-01-13,Flood,C,gf:General flood,GBR,United Kingdom,EUROP,...,52.917000,EUR,71.0,11.0,0.013594,0.015934,0.0,0.013412,0.015721,0.0
3180,11984,2000,2000-01-13,2000-01-13,Flood,C,gf:General flood,BRA,Brazil,AMER,...,-23.550000,LAN,29.0,3.0,0.022191,0.038398,0.0,0.016280,0.028171,0.0
3181,11989,2000,2000-01-14,2000-01-14,Flood,C,gf:General flood,AGO,Angola,AFRIC,...,-12.967000,SAF,3.0,13.0,0.065313,0.571502,0.0,0.031248,0.273421,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8818,30550,2016,2016-12-26 00:00:00,2016-12-27 00:00:00,Flash flood,C,ff:Flash flood,COD,"Congo, the Democratic Republic of the",AFRIC,...,-5.848732,SSA,41.0,5.0,0.454826,0.316797,0.0,0.449840,0.313323,0.0
8819,30553,2016,2016-12-27 00:00:00,2016-12-28 10:22:25,"Flash flood, severe storm",C,ff:Flash flood,AUS,Australia,OCEAN,...,-34.928690,AUS,13.0,10.0,12.536571,12.107510,0.0,12.091528,11.677699,0.0
8820,30555,2016,2016-12-28 00:00:00,2016-12-30 00:00:00,Flash flood,C,ff:Flash flood,TUR,Turkey (Asia),ASIA,...,36.804536,ARA,210.0,15.0,12.148503,10.749940,0.0,12.770431,11.300270,0.0
8821,30557,2016,2016-12-29 00:00:00,2016-12-30 00:00:00,"Flash flood, landslide",C,ff:Flash flood,ECU,Ecuador,AMER,...,-1.482849,LAN,58.0,3.0,1.874437,1.500663,0.0,1.754582,1.404708,0.0
8822,30560,2016,2016-12-30 00:00:00,2016-12-30 00:00:00,"Flash flood, landslide",C,ff:Flash flood,BOL,Bolivia,AMER,...,-16.983333,LAN,28.0,3.0,1.166735,1.018253,0.0,1.059028,0.924253,0.0

In [9]:
# Total number events with damage
emdat_long=pd.read_csv('/home/insauer/projects/submission_vul_sat/input_data/results_EMDATlong_prep.csv')
emdat_long=emdat_long.loc[(emdat_long['Year']>1999) & (emdat_long['Year']<2019)]
emdat_long

,Unnamed: 0,Dis No,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,...,"Insured Damages, Adjusted (1000 US$)",Total Damages (1000 US$),"Total Damages, Adjusted (1000 US$)",CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations,"Total Damages, Adjusted CPI 2011",CPI_conv_ppp
1794,1794,2000-0372-CHN,2000,372,NaN,Natural,Hydrological,Flood,Riverine flood,NaN,...,NaN,19000.0,29898.0,63.549547,1;2,914,13006;13009;13010,"Jiangxi Sheng (Adm1). Quanzhou, Xiamen, Zhangz...",24819.129390,26236.380252
1795,1795,2000-0373-BGD,2000,373,NaN,Natural,Hydrological,Flood,Flash flood,NaN,...,NaN,NaN,NaN,63.549547,2,NaN,5770;5772,"Chittagong, Cox's Bazar (Adm2).",NaN,NaN
1796,1796,2000-0905-BOL,2000,905,NaN,Natural,Hydrological,Flood,NaN,NaN,...,NaN,NaN,NaN,63.549547,1,40444;40445;40446;40447;40448;40450,NaN,"Chuquisaca, Cochabamba, La Paz, Oruro, Potosi,...",NaN,NaN
1797,1797,2000-0019-BRA,2000,19,NaN,Natural,Hydrological,Flood,Riverine flood,NaN,...,NaN,NaN,NaN,63.549547,2,NaN,8467;8555;9902;9956;9961;9985;11089;11543,"Barra Mansa, Campos Do Jordao, Pirangucu, Rese...",NaN,NaN
1798,1798,2000-0809-BRA,2000,809,NaN,Natural,Hydrological,Flood,Riverine flood,NaN,...,NaN,NaN,NaN,63.549547,2,NaN,7192;7936;10160;11192;11523,"Alto Feliz, Belo Horizonte, Guaruja, Santa Leo...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5035,5035,2018-0386-VEN,2018,386,NaN,Natural,Hydrological,Flood,Flash flood,NaN,...,NaN,NaN,NaN,92.669670,1,3305;67152,NaN,"Aragua, Vargas (Adm1).",NaN,NaN
5036,5036,2018-0290-VEN,2018,290,NaN,Natural,Hydrological,Flood,NaN,NaN,...,NaN,NaN,NaN,92.669670,1,3302;3307;3318,NaN,"Amazonas, Bolivar, Monagas (Adm1).",NaN,NaN
5037,5037,2018-0448-VNM,2018,448,NaN,Natural,Hydrological,Flood,Flash flood,NaN,...,NaN,25000.0,26978.0,92.669670,1,3333;3340;3366;3372;3374;3376;3382,NaN,"Binh Dinh, Da Nang City, Nghe An, Quang Nam, Q...",22395.159298,20981.869631
5185,5185,2017-0581-GMB,2017,581,NaN,Natural,Hydrological,Flood,NaN,NaN,...,NaN,NaN,NaN,90.460179,NaN,NaN,NaN,NaN,NaN,NaN
5457,5457,2016-0579-PNG,2016,579,NaN,Natural,Hydrological,Flood,NaN,NaN,...,NaN,NaN,NaN,88.573453,1,2300,NaN,Morobe (Adm1).,NaN,NaN

In [10]:
# Total number events with fatalities
emdat_long.loc[(~emdat_long['Total Deaths'].isna())]

,Unnamed: 0,Dis No,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,...,"Insured Damages, Adjusted (1000 US$)",Total Damages (1000 US$),"Total Damages, Adjusted (1000 US$)",CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations,"Total Damages, Adjusted CPI 2011",CPI_conv_ppp
1794,1794,2000-0372-CHN,2000,372,NaN,Natural,Hydrological,Flood,Riverine flood,NaN,...,NaN,19000.0,29898.0,63.549547,1;2,914,13006;13009;13010,"Jiangxi Sheng (Adm1). Quanzhou, Xiamen, Zhangz...",24819.129390,26236.380252
1795,1795,2000-0373-BGD,2000,373,NaN,Natural,Hydrological,Flood,Flash flood,NaN,...,NaN,NaN,NaN,63.549547,2,NaN,5770;5772,"Chittagong, Cox's Bazar (Adm2).",NaN,NaN
1796,1796,2000-0905-BOL,2000,905,NaN,Natural,Hydrological,Flood,NaN,NaN,...,NaN,NaN,NaN,63.549547,1,40444;40445;40446;40447;40448;40450,NaN,"Chuquisaca, Cochabamba, La Paz, Oruro, Potosi,...",NaN,NaN
1797,1797,2000-0019-BRA,2000,19,NaN,Natural,Hydrological,Flood,Riverine flood,NaN,...,NaN,NaN,NaN,63.549547,2,NaN,8467;8555;9902;9956;9961;9985;11089;11543,"Barra Mansa, Campos Do Jordao, Pirangucu, Rese...",NaN,NaN
1798,1798,2000-0809-BRA,2000,809,NaN,Natural,Hydrological,Flood,Riverine flood,NaN,...,NaN,NaN,NaN,63.549547,2,NaN,7192;7936;10160;11192;11523,"Alto Feliz, Belo Horizonte, Guaruja, Santa Leo...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5033,5033,2018-0125-TZA,2018,125,FL-2018-000043,Natural,Hydrological,Flood,NaN,NaN,...,NaN,NaN,NaN,92.669670,1,48357;48358;115004;115006;115009,NaN,"Arusha, Dar-es-salaam, Kagera, Mwanza, Shinyan...",NaN,NaN
5034,5034,2018-0331-USA,2018,331,NaN,Natural,Hydrological,Flood,Flash flood,NaN,...,NaN,250000.0,269775.0,92.669670,1,3217;3227;3228;3229;3231;3237;3239;3249;3252;3263,NaN,"Arkansas, Illinois, Indiana, Iowa, Kentucky, M...",223947.442344,223968.685142
5035,5035,2018-0386-VEN,2018,386,NaN,Natural,Hydrological,Flood,Flash flood,NaN,...,NaN,NaN,NaN,92.669670,1,3305;67152,NaN,"Aragua, Vargas (Adm1).",NaN,NaN
5037,5037,2018-0448-VNM,2018,448,NaN,Natural,Hydrological,Flood,Flash flood,NaN,...,NaN,25000.0,26978.0,92.669670,1,3333;3340;3366;3372;3374;3376;3382,NaN,"Binh Dinh, Da Nang City, Nghe An, Quang Nam, Q...",22395.159298,20981.869631
5185,5185,2017-0581-GMB,2017,581,NaN,Natural,Hydrological,Flood,NaN,NaN,...,NaN,NaN,NaN,90.460179,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# all events with damage
emdat_long.loc[(~emdat_long["Total Damages, Adjusted (1000 US$)"].isna())]

,Unnamed: 0,Dis No,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,...,"Insured Damages, Adjusted (1000 US$)",Total Damages (1000 US$),"Total Damages, Adjusted (1000 US$)",CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations,"Total Damages, Adjusted CPI 2011",CPI_conv_ppp
1794,1794,2000-0372-CHN,2000,372,NaN,Natural,Hydrological,Flood,Riverine flood,NaN,...,NaN,19000.0,29898.0,63.549547,1;2,914,13006;13009;13010,"Jiangxi Sheng (Adm1). Quanzhou, Xiamen, Zhangz...",24819.129390,26236.380252
1800,1800,2000-0677-CHN,2000,677,NaN,Natural,Hydrological,Flood,Flash flood,NaN,...,NaN,25366.0,39915.0,63.549547,1;2,906,13035,Hainan Sheng (Adm1). Zhanjiang (Adm2).,33134.508984,35026.594346
1801,1801,2000-0920-CHN,2000,920,NaN,Natural,Hydrological,Flood,Riverine flood,NaN,...,NaN,5000.0,7868.0,63.549547,1,903,NaN,Guangdong Sheng (Adm1).,6531.437221,6904.402964
1802,1802,2000-0375-CHL,2000,375,NaN,Natural,Hydrological,Flood,Flash flood,NaN,...,NaN,30000.0,47207.0,63.549547,1,884;888;889;892;893;91501;91504;149630,NaN,"Araucania, Coquimbo, Libertador Gral. Bernardo...",39187.793201,30343.778890
1803,1803,2000-0002-AGO,2000,2,NaN,Natural,Hydrological,Flood,Riverine flood,NaN,...,NaN,10000.0,15736.0,63.549547,2,NaN,4214;4291,"Baia Farta, Cambambe (Adm2).",13062.874443,6249.610395
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5024,5024,2018-0419-USA,2018,419,NaN,Natural,Hydrological,Flood,Riverine flood,NaN,...,NaN,400000.0,431641.0,92.669670,2,NaN,31210;31226;31244;31274;31310;31324;31332;3133...,"Bastrop, Burnet, Colorado, Fayette, Hood, Jim ...",358316.737877,358350.726433
5029,5029,2018-0133-SOM,2018,133,NaN,Natural,Hydrological,Flood,Riverine flood,NaN,...,NaN,80000.0,86328.0,92.669670,1,2689;2691;2692;2693;2694;2695,NaN,"Bakool, Banadir, Bay, Galgaduud, Gedo, Hiraan ...",71663.181550,69747.904070
5031,5031,2018-0364-TUN,2018,364,FF-2018-000158,Natural,Hydrological,Flood,Flash flood,NaN,...,NaN,36000.0,38848.0,92.669670,1,3008;3015,NaN,"Nabeul, Tunis (Adm1).",32248.763748,33063.197276
5034,5034,2018-0331-USA,2018,331,NaN,Natural,Hydrological,Flood,Flash flood,NaN,...,NaN,250000.0,269775.0,92.669670,1,3217;3227;3228;3229;3231;3237;3239;3249;3252;3263,NaN,"Arkansas, Illinois, Indiana, Iowa, Kentucky, M...",223947.442344,223968.685142
5037,5037,2018-0448-VNM,2018,448,NaN,Natural,Hydrological,Flood,Flash flood,NaN,...,NaN,25000.0,26978.0,92.669670,1,3333;3340;3366;3372;3374;3376;3382,NaN,"Binh Dinh, Da Nang City, Nghe An, Quang Nam, Q...",22395.159298,20981.869631

In [12]:
# all displacement events
idmc_long=pd.read_excel('/home/insauer/projects/submission_vul_sat/input_data/IDMC_Internal_Displacement_Disasters_Events_2008_2021.xlsx')
idmc_long=idmc_long.iloc[1:,:]
idmc_long=idmc_long.loc[(idmc_long['Year']<2019) &(idmc_long['Hazard Type']=='Flood')]

idmc_long#.loc[~idmc_long['Internal Displacements'].isna()]

,ISO3,Name,Year,Start Date,Event Name,Hazard Category,Hazard Type,Internal Displacements
1,AB9,Abyei Area,2018,2018-07-01,Abyie: Flood - 01/07/2018,Weather related,Flood,2
5,AFG,Afghanistan,2008,2008-08-01,NaN,Weather related,Flood,180
6,AFG,Afghanistan,2009,2009-01-01,NaN,Weather related,Flood,25185
8,AFG,Afghanistan,2009,2009-01-01,NaN,Weather related,Flood,NaN
10,AFG,Afghanistan,2010,2010-01-01,NaN,Weather related,Flood,70000
...,...,...,...,...,...,...,...,...
11694,ZWE,Zimbabwe,2014,2014-12-01,Mutare flood,Weather related,Flood,8
11698,ZWE,Zimbabwe,2014,2014-02-01,Tokwe Mukorsi Dam flood,Weather related,Flood,20000
11700,ZWE,Zimbabwe,2014,2014-12-17,Mutare floods,Weather related,Flood,90
11706,ZWE,Zimbabwe,2016,2016-12-14,Floods in Matabeleland North Province,Weather related,Flood,400
11709,ZWE,Zimbabwe,2017,2017-01-01,Zimbabwe: Rainy season - January 2017,Weather related,Flood,8485

In [13]:
# all events with valid entries for displacement
idmc_long.loc[~idmc_long['Internal Displacements'].isna()]

,ISO3,Name,Year,Start Date,Event Name,Hazard Category,Hazard Type,Internal Displacements
1,AB9,Abyei Area,2018,2018-07-01,Abyie: Flood - 01/07/2018,Weather related,Flood,2
5,AFG,Afghanistan,2008,2008-08-01,NaN,Weather related,Flood,180
6,AFG,Afghanistan,2009,2009-01-01,NaN,Weather related,Flood,25185
10,AFG,Afghanistan,2010,2010-01-01,NaN,Weather related,Flood,70000
15,AFG,Afghanistan,2011,2011-01-01,NaN,Weather related,Flood,3000
...,...,...,...,...,...,...,...,...
11694,ZWE,Zimbabwe,2014,2014-12-01,Mutare flood,Weather related,Flood,8
11698,ZWE,Zimbabwe,2014,2014-02-01,Tokwe Mukorsi Dam flood,Weather related,Flood,20000
11700,ZWE,Zimbabwe,2014,2014-12-17,Mutare floods,Weather related,Flood,90
11706,ZWE,Zimbabwe,2016,2016-12-14,Floods in Matabeleland North Province,Weather related,Flood,400
11709,ZWE,Zimbabwe,2017,2017-01-01,Zimbabwe: Rainy season - January 2017,Weather related,Flood,8485

In [14]:
# load all NatCatSERVICE events
natcat_matched=pd.read_csv('/home/insauer/projects/submission_vul_sat/input_data/FLODIS_NatCat_fatalities_damages.csv')
natcat_matched= natcat_matched.drop(columns=['Unnamed: 0'])
natcat_matched

,year,ISO,tot_loss,ins_loss,tot_loss_GDP,tot_loss_GCP,tot_loss_CPI,Fatalities,CPI_conv,GDP_conv,...,elevation,roughness,slope,female_mean,pop_0_14_mean,pop_65_plus_mean,FLOPROS_merged_mean,FLOPROS_modeled_mean,forest_cover_mean,begin_dt
0,2000.0,HUN,55.00,0.0,147.151583,122.454554,106.467830,1.0,138.597299,163.228841,...,91.38265,3.94005,0.29582,0.51977,0.16239,0.16757,100.00000,19.58333,0.00041,2000-04-06 00:00:00
1,2000.0,NaN,125.00,0.0,NaN,NaN,NaN,10.0,0.000000,0.000000,...,123.29072,8.98093,0.76156,0.50374,0.16802,0.13982,142.68362,38.82062,0.00039,2000-04-06 00:00:00
2,2000.0,KHM,6.00,0.0,31.808774,29.077715,11.423164,13.0,10.135017,20.964500,...,9.37199,3.03036,0.21066,0.51229,0.34739,0.04955,3.09879,3.06452,0.00033,2000-07-10 00:00:00
3,2000.0,THA,0.05,0.0,0.156322,0.201686,0.081702,7.0,0.088051,0.146557,...,102.10830,4.01293,0.29910,0.50994,0.18814,0.08724,17.22186,17.01929,0.00012,2000-07-11 00:00:00
4,2000.0,VNM,17.00,0.0,102.196978,119.841722,33.634141,3.0,28.481859,67.330587,...,11.61329,5.61878,0.42373,0.50777,0.25706,0.07543,7.03070,6.56725,0.00020,2000-08-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863,2016.0,IND,215.67,0.0,215.670000,215.670000,215.670000,473.0,NaN,NaN,...,NaN,NaN,NaN,0.48128,0.36683,0.04868,95.57084,7.67166,0.00003,2016-06-26 18:40:00
864,2016.0,IND,41.80,0.0,41.800000,41.800000,41.800000,91.0,NaN,NaN,...,NaN,NaN,NaN,0.48258,0.34491,0.04904,96.55694,7.97801,0.00002,2016-08-02 12:00:00
865,2016.0,MMR,5.00,0.0,5.000000,5.000000,5.000000,8.0,NaN,NaN,...,NaN,NaN,NaN,0.52657,0.32053,0.06247,1.69643,1.26786,0.00009,2016-07-15 00:00:00
866,2016.0,IND,580.12,0.0,580.120000,580.120000,580.120000,376.0,NaN,NaN,...,NaN,NaN,NaN,0.48258,0.34491,0.04904,96.55694,7.97801,0.00002,2016-07-14 14:24:00
867,2016.0,MYS,2.11,0.0,2.110000,2.110000,2.110000,2.0,NaN,NaN,...,NaN,NaN,NaN,0.47102,0.29413,0.05419,22.13176,22.13176,0.00054,2016-11-10 18:00:00

In [15]:
natcat_matched.columns

Index(['year', 'ISO', 'tot_loss', 'ins_loss', 'tot_loss_GDP', 'tot_loss_GCP',
       'tot_loss_CPI', 'Fatalities', 'CPI_conv', 'GDP_conv', 'unexact_conv',
       'CPI_conv_ppp', 'GDP_conv_ppp', 'unexact_conv_ppp', 'index',
       'DFO_matches', 'DFO_matches_nr', 'matching_type',
       'DFO_matches_time_dif', 'DFO_duration', 'DFO_satellite_shape_area',
       'affected_sum_GHSL', 'affected_mean_GHSL',
       'DFO_satellite_shape_pop_density_GHSL', 'affected_sum_GPW',
       'affected_mean_GPW', 'DFO_satellite_shape_pop_density_GPW',
       'GDP_affected_sum', 'cable_affected_sum', 'plant_affected_sum',
       'power_pole_affected_sum', 'power_tower_affected_sum',
       'line_affected_sum', 'mast_affected_sum',
       'communication_tower_affected_sum', 'doctors_affected_sum',
       'hospital_affected_sum', 'pharmacy_affected_sum',
       'primary_road_affected_sum', 'tertiary_road_affected_sum',
       'reservoir_affected_sum', 'school_affected_sum',
       'university_affected_sum', 'GDP_affected_mean',
       'education_affected_mean', 'energy_affected_mean',
       'health_affected_mean', 'telecommunication_affected_mean',
       'transportation_affected_mean', 'water_affected_mean',
       'CISI_global_affected_mean', 'cable_affected_mean',
       'plant_affected_mean', 'power_pole_affected_mean',
       'power_tower_affected_mean', 'line_affected_mean', 'mast_affected_mean',
       'communication_tower_affected_mean', 'doctors_affected_mean',
       'hospital_affected_mean', 'pharmacy_affected_mean',
       'primary_road_affected_mean', 'tertiary_road_affected_mean',
       'reservoir_affected_mean', 'school_affected_mean',
       'university_affected_mean', 'GDPpc_mean', 'HDI_mean',
       'urbanization_mean', 'landuse_total_mean', 'elevation', 'roughness',
       'slope', 'female_mean', 'pop_0_14_mean', 'pop_65_plus_mean',
       'FLOPROS_merged_mean', 'FLOPROS_modeled_mean', 'forest_cover_mean',
       'begin_dt'],
      dtype='object')

In [16]:
# exclude aggregated events
natcat_matched=natcat_matched.loc[~natcat_matched['ISO'].isna()]

In [17]:
# exclude events without valid asset information
natcat_matched.loc[(~natcat_matched['CPI_conv_ppp'].isna())&(natcat_matched['CPI_conv_ppp']>0)]

,year,ISO,tot_loss,ins_loss,tot_loss_GDP,tot_loss_GCP,tot_loss_CPI,Fatalities,CPI_conv,GDP_conv,...,elevation,roughness,slope,female_mean,pop_0_14_mean,pop_65_plus_mean,FLOPROS_merged_mean,FLOPROS_modeled_mean,forest_cover_mean,begin_dt
0,2000.0,HUN,55.00,0.0,147.151583,122.454554,106.467830,1.0,138.597299,163.228841,...,91.38265,3.94005,0.29582,0.51977,0.16239,0.16757,100.00000,19.58333,0.00041,2000-04-06 00:00:00
2,2000.0,KHM,6.00,0.0,31.808774,29.077715,11.423164,13.0,10.135017,20.964500,...,9.37199,3.03036,0.21066,0.51229,0.34739,0.04955,3.09879,3.06452,0.00033,2000-07-10 00:00:00
3,2000.0,THA,0.05,0.0,0.156322,0.201686,0.081702,7.0,0.088051,0.146557,...,102.10830,4.01293,0.29910,0.50994,0.18814,0.08724,17.22186,17.01929,0.00012,2000-07-11 00:00:00
4,2000.0,VNM,17.00,0.0,102.196978,119.841722,33.634141,3.0,28.481859,67.330587,...,11.61329,5.61878,0.42373,0.50777,0.25706,0.07543,7.03070,6.56725,0.00020,2000-08-01 00:00:00
5,2000.0,PRK,0.10,0.0,0.178929,0.179058,0.139377,5.0,0.130627,0.147901,...,37.83494,21.09331,1.74901,0.52521,0.23779,0.09349,3.62323,3.58357,0.00002,2000-08-27 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863,2016.0,IND,215.67,0.0,215.670000,215.670000,215.670000,473.0,NaN,NaN,...,NaN,NaN,NaN,0.48128,0.36683,0.04868,95.57084,7.67166,0.00003,2016-06-26 18:40:00
864,2016.0,IND,41.80,0.0,41.800000,41.800000,41.800000,91.0,NaN,NaN,...,NaN,NaN,NaN,0.48258,0.34491,0.04904,96.55694,7.97801,0.00002,2016-08-02 12:00:00
865,2016.0,MMR,5.00,0.0,5.000000,5.000000,5.000000,8.0,NaN,NaN,...,NaN,NaN,NaN,0.52657,0.32053,0.06247,1.69643,1.26786,0.00009,2016-07-15 00:00:00
866,2016.0,IND,580.12,0.0,580.120000,580.120000,580.120000,376.0,NaN,NaN,...,NaN,NaN,NaN,0.48258,0.34491,0.04904,96.55694,7.97801,0.00002,2016-07-14 14:24:00
867,2016.0,MYS,2.11,0.0,2.110000,2.110000,2.110000,2.0,NaN,NaN,...,NaN,NaN,NaN,0.47102,0.29413,0.05419,22.13176,22.13176,0.00054,2016-11-10 18:00:00

In [18]:
# get all events without fatalities
natcat_matched.loc[~(natcat_matched['Fatalities'].isna())]

,year,ISO,tot_loss,ins_loss,tot_loss_GDP,tot_loss_GCP,tot_loss_CPI,Fatalities,CPI_conv,GDP_conv,...,elevation,roughness,slope,female_mean,pop_0_14_mean,pop_65_plus_mean,FLOPROS_merged_mean,FLOPROS_modeled_mean,forest_cover_mean,begin_dt
0,2000.0,HUN,55.00,0.0,147.151583,122.454554,106.467830,1.0,138.597299,163.228841,...,91.38265,3.94005,0.29582,0.51977,0.16239,0.16757,100.00000,19.58333,0.00041,2000-04-06 00:00:00
2,2000.0,KHM,6.00,0.0,31.808774,29.077715,11.423164,13.0,10.135017,20.964500,...,9.37199,3.03036,0.21066,0.51229,0.34739,0.04955,3.09879,3.06452,0.00033,2000-07-10 00:00:00
3,2000.0,THA,0.05,0.0,0.156322,0.201686,0.081702,7.0,0.088051,0.146557,...,102.10830,4.01293,0.29910,0.50994,0.18814,0.08724,17.22186,17.01929,0.00012,2000-07-11 00:00:00
4,2000.0,VNM,17.00,0.0,102.196978,119.841722,33.634141,3.0,28.481859,67.330587,...,11.61329,5.61878,0.42373,0.50777,0.25706,0.07543,7.03070,6.56725,0.00020,2000-08-01 00:00:00
5,2000.0,PRK,0.10,0.0,0.178929,0.179058,0.139377,5.0,0.130627,0.147901,...,37.83494,21.09331,1.74901,0.52521,0.23779,0.09349,3.62323,3.58357,0.00002,2000-08-27 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863,2016.0,IND,215.67,0.0,215.670000,215.670000,215.670000,473.0,NaN,NaN,...,NaN,NaN,NaN,0.48128,0.36683,0.04868,95.57084,7.67166,0.00003,2016-06-26 18:40:00
864,2016.0,IND,41.80,0.0,41.800000,41.800000,41.800000,91.0,NaN,NaN,...,NaN,NaN,NaN,0.48258,0.34491,0.04904,96.55694,7.97801,0.00002,2016-08-02 12:00:00
865,2016.0,MMR,5.00,0.0,5.000000,5.000000,5.000000,8.0,NaN,NaN,...,NaN,NaN,NaN,0.52657,0.32053,0.06247,1.69643,1.26786,0.00009,2016-07-15 00:00:00
866,2016.0,IND,580.12,0.0,580.120000,580.120000,580.120000,376.0,NaN,NaN,...,NaN,NaN,NaN,0.48258,0.34491,0.04904,96.55694,7.97801,0.00002,2016-07-14 14:24:00
867,2016.0,MYS,2.11,0.0,2.110000,2.110000,2.110000,2.0,NaN,NaN,...,NaN,NaN,NaN,0.47102,0.29413,0.05419,22.13176,22.13176,0.00054,2016-11-10 18:00:00

In [19]:
# check number of events 
natcat_matched.loc[(natcat_matched['Fatalities']==0)]

,year,ISO,tot_loss,ins_loss,tot_loss_GDP,tot_loss_GCP,tot_loss_CPI,Fatalities,CPI_conv,GDP_conv,...,elevation,roughness,slope,female_mean,pop_0_14_mean,pop_65_plus_mean,FLOPROS_merged_mean,FLOPROS_modeled_mean,forest_cover_mean,begin_dt
7,2000.0,RUS,2.00,0.0,9.475591,8.503915,4.551123,0.0,6.750125,14.668159,...,164.71700,29.33145,2.57180,0.52104,0.14498,0.10837,35.80460,35.71100,0.00026,2000-08-31 00:00:00
9,2001.0,KAZ,0.05,0.0,0.320568,0.341679,0.065642,0.0,0.113904,0.424438,...,266.41101,3.58277,0.30596,0.52729,0.19410,0.09453,16.38704,16.38471,0.00019,2001-05-12 00:00:00
20,2001.0,BGD,0.01,0.0,0.044306,0.041066,0.019899,0.0,0.015210,0.025368,...,15.63334,4.01723,0.30821,0.50163,0.33334,0.04510,59.80392,4.35294,0.00000,2001-10-06 00:00:00
24,2001.0,CUB,1.00,0.0,3.062007,3.257287,1.699643,0.0,1.384662,2.177557,...,7.04487,4.49639,0.36700,0.49144,0.17121,0.13134,7.29015,7.29015,0.00023,2001-10-31 00:00:00
25,2001.0,USA,0.50,0.0,0.880797,0.797229,0.677603,0.0,0.635062,0.730474,...,162.46969,12.93432,1.07280,0.47754,0.13255,0.22919,486.19268,71.58217,0.00065,2001-12-29 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,2010.0,HRV,50.10,0.0,41.316063,39.888860,43.800913,0.0,NaN,NaN,...,NaN,NaN,NaN,0.50351,0.13422,0.22463,115.42177,14.71202,0.00031,2010-11-24 16:00:00
815,2011.0,MYS,0.10,0.0,0.099349,0.114943,0.082688,0.0,NaN,NaN,...,NaN,NaN,NaN,0.47345,0.29564,0.05655,36.66923,36.66923,0.00080,2011-12-18 12:00:00
820,2012.0,GBR,1.05,0.0,1.036806,1.075374,0.944434,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,107.28610,42.03881,0.00028,2012-08-17 00:00:00
843,2015.0,GUY,0.04,0.0,0.041714,0.042073,0.040427,0.0,NaN,NaN,...,NaN,NaN,NaN,0.48834,0.34544,0.04543,5.48966,5.48966,0.00084,2015-07-02 00:00:00
855,2016.0,PER,2.60,0.0,2.600000,2.600000,2.600000,0.0,NaN,NaN,...,NaN,NaN,NaN,0.47255,0.42293,0.03663,16.08583,16.08583,0.00088,2016-01-24 00:00:00

In [20]:
# all events matched with EM-DAT
emdat_matched=pd.read_csv('/home/insauer/projects/submission_vul_sat/input_data/FLODIS_fatalities_damages.csv')
emdat_matched= emdat_matched.drop(columns=['Unnamed: 0'])
emdat_matched.columns

Index(['ISO3', 'year', 'disasterno', 'total_deaths', 'no_injured',
       'no_affected_EMDAT', 'no_homeles', 'total_affected_EMDAT',
       'total_damages_(000_USD)', 'idx', 'DFO_matches', 'DFO_matches_nr',
       'matching_type', 'DFO_matches_time_dif', 'DFO_duration',
       'DFO_satellite_shape_area', 'affected_sum_GHSL', 'affected_mean_GHSL',
       'DFO_satellite_shape_pop_density_GHSL', 'affected_sum_GPW',
       'affected_mean_GPW', 'DFO_satellite_shape_pop_density_GPW',
       'GDP_affected_sum', 'cable_affected_sum', 'plant_affected_sum',
       'power_pole_affected_sum', 'power_tower_affected_sum',
       'line_affected_sum', 'mast_affected_sum',
       'communication_tower_affected_sum', 'doctors_affected_sum',
       'hospital_affected_sum', 'pharmacy_affected_sum',
       'primary_road_affected_sum', 'tertiary_road_affected_sum',
       'reservoir_affected_sum', 'school_affected_sum',
       'university_affected_sum', 'GDP_affected_mean',
       'education_affected_mean', 'energy_affected_mean',
       'health_affected_mean', 'telecommunication_affected_mean',
       'transportation_affected_mean', 'water_affected_mean',
       'CISI_global_affected_mean', 'cable_affected_mean',
       'plant_affected_mean', 'power_pole_affected_mean',
       'power_tower_affected_mean', 'line_affected_mean', 'mast_affected_mean',
       'communication_tower_affected_mean', 'doctors_affected_mean',
       'hospital_affected_mean', 'pharmacy_affected_mean',
       'primary_road_affected_mean', 'tertiary_road_affected_mean',
       'reservoir_affected_mean', 'school_affected_mean',
       'university_affected_mean', 'GDPpc_mean', 'HDI_mean',
       'urbanization_mean', 'landuse_total_mean', 'female_mean',
       'pop_0_14_mean', 'pop_65_plus_mean', 'FLOPROS_merged_mean',
       'FLOPROS_modeled_mean', 'forest_cover_mean'],
      dtype='object')

In [21]:
# all events matched with EM-DAT
emdat_matched.loc[~emdat_matched['total_damages_(000_USD)'].isna()]

,ISO3,year,disasterno,total_deaths,no_injured,no_affected_EMDAT,no_homeles,total_affected_EMDAT,total_damages_(000_USD),idx,...,GDPpc_mean,HDI_mean,urbanization_mean,landuse_total_mean,female_mean,pop_0_14_mean,pop_65_plus_mean,FLOPROS_merged_mean,FLOPROS_modeled_mean,forest_cover_mean
1,BGR,2002.0,2002-0552,1.0,NaN,NaN,NaN,NaN,1000.0,0.0,...,8263.550000,0.711800,0.006390,0.427120,0.505610,0.118630,0.26071,18.688890,16.533330,0.000230
5,PHL,2013.0,2013-0019,10.0,NaN,507769.0,NaN,507769.0,2800.0,0.0,...,4239.190970,0.693990,0.009940,0.189780,0.557020,0.439190,0.18474,0.000000,0.000000,0.000150
8,VEN,2005.0,2005-0073,76.0,42.0,25000.0,NaN,25042.0,50000.0,0.0,...,27059.710900,0.715540,0.011620,0.068440,0.494600,0.307970,0.07423,14.506990,14.506990,0.000570
9,GBR,2007.0,2007-0278,7.0,NaN,340000.0,NaN,340000.0,4000000.0,0.0,...,36696.348960,0.897680,0.044880,0.439690,0.551340,0.233820,0.28407,94.845360,54.030930,0.000100
13,ALB,2002.0,2002-0607,1.0,NaN,66884.0,NaN,66884.0,17500.0,0.0,...,6185.753470,0.679740,0.005170,0.145110,0.517430,0.233660,0.15905,12.761900,12.761900,0.000070
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
692,IDN,2006.0,"2006-0074,2005-0718",98.0,30.0,17781.0,0.0,17811.0,27100.0,NaN,...,5755.128905,0.633860,0.023905,0.207520,0.511195,0.291615,0.08103,50.634700,9.652540,0.000225
693,GBR,2007.0,"2007-0247,2007-0201",7.0,0.0,200.0,30000.0,30200.0,4448000.0,NaN,...,31591.408130,0.883570,0.009380,0.223430,0.594865,0.288835,0.41531,44.298245,17.327350,0.000040
694,BRA,2008.0,"2008-0016,2008-0041",13.0,12.0,60929.0,1435.0,62376.0,0.0,NaN,...,19795.037110,0.760165,0.017530,0.130225,0.498715,0.276580,0.13738,19.847825,19.847825,0.000430
695,AUS,2010.0,"2010-0103,2010-0066",0.0,0.0,0.0,0.0,0.0,109000.0,NaN,...,39922.045475,0.943695,0.001005,0.207470,0.471040,0.228995,0.12372,100.000000,48.501345,0.000130
696,AUS,2012.0,"2012-0037,2012-0029",4.0,0.0,16000.0,0.0,16000.0,588000.0,NaN,...,41004.672165,0.949885,0.000095,0.093010,0.446280,0.222230,0.11320,100.000000,48.471385,0.000010

In [22]:
# all events matched with EM-DAT
emdat_matched.loc[~emdat_matched['total_damages_(000_USD)'].isna()]

,ISO3,year,disasterno,total_deaths,no_injured,no_affected_EMDAT,no_homeles,total_affected_EMDAT,total_damages_(000_USD),idx,...,GDPpc_mean,HDI_mean,urbanization_mean,landuse_total_mean,female_mean,pop_0_14_mean,pop_65_plus_mean,FLOPROS_merged_mean,FLOPROS_modeled_mean,forest_cover_mean
1,BGR,2002.0,2002-0552,1.0,NaN,NaN,NaN,NaN,1000.0,0.0,...,8263.550000,0.711800,0.006390,0.427120,0.505610,0.118630,0.26071,18.688890,16.533330,0.000230
5,PHL,2013.0,2013-0019,10.0,NaN,507769.0,NaN,507769.0,2800.0,0.0,...,4239.190970,0.693990,0.009940,0.189780,0.557020,0.439190,0.18474,0.000000,0.000000,0.000150
8,VEN,2005.0,2005-0073,76.0,42.0,25000.0,NaN,25042.0,50000.0,0.0,...,27059.710900,0.715540,0.011620,0.068440,0.494600,0.307970,0.07423,14.506990,14.506990,0.000570
9,GBR,2007.0,2007-0278,7.0,NaN,340000.0,NaN,340000.0,4000000.0,0.0,...,36696.348960,0.897680,0.044880,0.439690,0.551340,0.233820,0.28407,94.845360,54.030930,0.000100
13,ALB,2002.0,2002-0607,1.0,NaN,66884.0,NaN,66884.0,17500.0,0.0,...,6185.753470,0.679740,0.005170,0.145110,0.517430,0.233660,0.15905,12.761900,12.761900,0.000070
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
692,IDN,2006.0,"2006-0074,2005-0718",98.0,30.0,17781.0,0.0,17811.0,27100.0,NaN,...,5755.128905,0.633860,0.023905,0.207520,0.511195,0.291615,0.08103,50.634700,9.652540,0.000225
693,GBR,2007.0,"2007-0247,2007-0201",7.0,0.0,200.0,30000.0,30200.0,4448000.0,NaN,...,31591.408130,0.883570,0.009380,0.223430,0.594865,0.288835,0.41531,44.298245,17.327350,0.000040
694,BRA,2008.0,"2008-0016,2008-0041",13.0,12.0,60929.0,1435.0,62376.0,0.0,NaN,...,19795.037110,0.760165,0.017530,0.130225,0.498715,0.276580,0.13738,19.847825,19.847825,0.000430
695,AUS,2010.0,"2010-0103,2010-0066",0.0,0.0,0.0,0.0,0.0,109000.0,NaN,...,39922.045475,0.943695,0.001005,0.207470,0.471040,0.228995,0.12372,100.000000,48.501345,0.000130
696,AUS,2012.0,"2012-0037,2012-0029",4.0,0.0,16000.0,0.0,16000.0,588000.0,NaN,...,41004.672165,0.949885,0.000095,0.093010,0.446280,0.222230,0.11320,100.000000,48.471385,0.000010

In [23]:
# all events matched with EM-DAT
emdat_matched.loc[(~emdat_matched['total_deaths'].isna())]

,ISO3,year,disasterno,total_deaths,no_injured,no_affected_EMDAT,no_homeles,total_affected_EMDAT,total_damages_(000_USD),idx,...,GDPpc_mean,HDI_mean,urbanization_mean,landuse_total_mean,female_mean,pop_0_14_mean,pop_65_plus_mean,FLOPROS_merged_mean,FLOPROS_modeled_mean,forest_cover_mean
0,NPL,2005.0,2005-0556,51.0,NaN,1600.0,NaN,1600.0,NaN,0.0,...,1241.520210,0.480730,0.001320,0.155180,0.686210,0.570080,0.38624,9.538460,2.384620,0.000150
1,BGR,2002.0,2002-0552,1.0,NaN,NaN,NaN,NaN,1000.0,0.0,...,8263.550000,0.711800,0.006390,0.427120,0.505610,0.118630,0.26071,18.688890,16.533330,0.000230
2,LAO,2002.0,2002-0614,2.0,NaN,150000.0,NaN,150000.0,NaN,0.0,...,2593.712230,0.508790,0.001200,0.148230,0.501300,0.331330,0.04946,7.769230,7.769230,0.000170
5,PHL,2013.0,2013-0019,10.0,NaN,507769.0,NaN,507769.0,2800.0,0.0,...,4239.190970,0.693990,0.009940,0.189780,0.557020,0.439190,0.18474,0.000000,0.000000,0.000150
6,SOM,2012.0,2012-0508,25.0,NaN,NaN,20000.0,20000.0,NaN,0.0,...,495.646000,0.360170,0.002990,0.001800,0.502850,0.476860,0.02833,2.000000,2.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
692,IDN,2006.0,"2006-0074,2005-0718",98.0,30.0,17781.0,0.0,17811.0,27100.0,NaN,...,5755.128905,0.633860,0.023905,0.207520,0.511195,0.291615,0.08103,50.634700,9.652540,0.000225
693,GBR,2007.0,"2007-0247,2007-0201",7.0,0.0,200.0,30000.0,30200.0,4448000.0,NaN,...,31591.408130,0.883570,0.009380,0.223430,0.594865,0.288835,0.41531,44.298245,17.327350,0.000040
694,BRA,2008.0,"2008-0016,2008-0041",13.0,12.0,60929.0,1435.0,62376.0,0.0,NaN,...,19795.037110,0.760165,0.017530,0.130225,0.498715,0.276580,0.13738,19.847825,19.847825,0.000430
695,AUS,2010.0,"2010-0103,2010-0066",0.0,0.0,0.0,0.0,0.0,109000.0,NaN,...,39922.045475,0.943695,0.001005,0.207470,0.471040,0.228995,0.12372,100.000000,48.501345,0.000130
696,AUS,2012.0,"2012-0037,2012-0029",4.0,0.0,16000.0,0.0,16000.0,588000.0,NaN,...,41004.672165,0.949885,0.000095,0.093010,0.446280,0.222230,0.11320,100.000000,48.471385,0.000010

In [24]:
# all events matched with IDMC
idmc_matched=pd.read_csv('/home/insauer/projects/submission_vul_sat/input_data/FLODIS_displacements.csv')
idmc_matched= idmc_matched.drop(columns=['Unnamed: 0'])
idmc_matched=idmc_matched.loc[(~idmc_matched['displacements'].isna())]
idmc_matched

,ISO3,year,displacements,GID_1,GID_2,num_provinces,num_districts,DFO_matches,DFO_matches_nr,matching_type,...,GDPpc_mean,HDI_mean,urbanization_mean,landuse_total_mean,female_mean,pop_0_14_mean,pop_65_plus_mean,FLOPROS_merged_mean,FLOPROS_modeled_mean,forest_cover_mean
0,AFG,2008.0,180.0,NaN,NaN,NaN,NaN,1,3359,1,...,1335.591430,0.434000,0.000220,0.373740,0.489380,0.48606,0.02164,2.000000,2.000000,0.000000
1,AFG,2013.0,4880.0,NaN,NaN,NaN,NaN,2,"[4078, 4082]",2,...,2476.899200,0.506080,0.001480,0.093010,0.489140,0.46697,0.02395,2.921050,2.906020,0.000000
2,AFG,2015.0,1210.0,NaN,AFG.1.11_1,NaN,1.0,1,4272,1,...,1965.011010,0.510390,0.000660,0.036320,0.486300,0.46581,0.02461,2.000000,2.000000,0.000000
3,AFG,2015.0,581.0,NaN,AFG.1.2_1,NaN,1.0,1,4272,1,...,1820.304300,0.479000,0.000110,0.030190,0.495600,0.48602,0.02167,2.000000,2.000000,0.000000
4,AFG,2018.0,22.0,AFG.17_1,NaN,1.0,NaN,1,4645,1,...,1986.935670,0.506800,0.000550,0.256270,0.483610,0.48610,0.02161,2.000000,2.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,USA,2017.0,219565.0,USA.5_1,USA.37.19_1,1.0,1.0,1,4444,4,...,56427.364760,0.955980,0.048850,0.115110,NaN,NaN,NaN,457.107840,112.180150,0.000280
331,USA,2017.0,25973.0,USA.5_1,NaN,1.0,NaN,1,4434,4,...,56406.809200,0.956030,0.030340,0.120650,NaN,NaN,NaN,457.661290,112.391130,0.000480
332,USA,2018.0,609.0,USA.5_1,USA.5.37_1,1.0,1.0,1,4711,4,...,54112.663757,0.942963,0.032427,0.070157,0.479570,0.06452,0.16344,478.301300,93.328787,0.000307
333,PRY,2018.0,950.0,"PRY.5_1,PRY.16_1,PRY.17_1,PRY.3_1,PRY.16_1",PRY.16.8_1,5.0,1.0,1,4569,5,...,8161.498570,0.707785,0.001765,0.129460,0.481635,0.31585,0.07490,6.098685,6.098685,0.000635
334,USA,2017.0,34617.0,"USA.5_1,USA.29_1,USA.5_1,USA.29_1","USA.4.50_1,USA.5.29_1,USA.42.29_1",4.0,3.0,1,4434,5,...,56406.809200,0.956030,0.030340,0.120650,NaN,NaN,NaN,457.661290,112.391130,0.000480

# 1.3 Reconstruct dates from EM-DAT

In [25]:
# reconstruct EM-DAT dates and adjusted damage
emdat_long

,Unnamed: 0,Dis No,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,...,"Insured Damages, Adjusted (1000 US$)",Total Damages (1000 US$),"Total Damages, Adjusted (1000 US$)",CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations,"Total Damages, Adjusted CPI 2011",CPI_conv_ppp
1794,1794,2000-0372-CHN,2000,372,NaN,Natural,Hydrological,Flood,Riverine flood,NaN,...,NaN,19000.0,29898.0,63.549547,1;2,914,13006;13009;13010,"Jiangxi Sheng (Adm1). Quanzhou, Xiamen, Zhangz...",24819.129390,26236.380252
1795,1795,2000-0373-BGD,2000,373,NaN,Natural,Hydrological,Flood,Flash flood,NaN,...,NaN,NaN,NaN,63.549547,2,NaN,5770;5772,"Chittagong, Cox's Bazar (Adm2).",NaN,NaN
1796,1796,2000-0905-BOL,2000,905,NaN,Natural,Hydrological,Flood,NaN,NaN,...,NaN,NaN,NaN,63.549547,1,40444;40445;40446;40447;40448;40450,NaN,"Chuquisaca, Cochabamba, La Paz, Oruro, Potosi,...",NaN,NaN
1797,1797,2000-0019-BRA,2000,19,NaN,Natural,Hydrological,Flood,Riverine flood,NaN,...,NaN,NaN,NaN,63.549547,2,NaN,8467;8555;9902;9956;9961;9985;11089;11543,"Barra Mansa, Campos Do Jordao, Pirangucu, Rese...",NaN,NaN
1798,1798,2000-0809-BRA,2000,809,NaN,Natural,Hydrological,Flood,Riverine flood,NaN,...,NaN,NaN,NaN,63.549547,2,NaN,7192;7936;10160;11192;11523,"Alto Feliz, Belo Horizonte, Guaruja, Santa Leo...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5035,5035,2018-0386-VEN,2018,386,NaN,Natural,Hydrological,Flood,Flash flood,NaN,...,NaN,NaN,NaN,92.669670,1,3305;67152,NaN,"Aragua, Vargas (Adm1).",NaN,NaN
5036,5036,2018-0290-VEN,2018,290,NaN,Natural,Hydrological,Flood,NaN,NaN,...,NaN,NaN,NaN,92.669670,1,3302;3307;3318,NaN,"Amazonas, Bolivar, Monagas (Adm1).",NaN,NaN
5037,5037,2018-0448-VNM,2018,448,NaN,Natural,Hydrological,Flood,Flash flood,NaN,...,NaN,25000.0,26978.0,92.669670,1,3333;3340;3366;3372;3374;3376;3382,NaN,"Binh Dinh, Da Nang City, Nghe An, Quang Nam, Q...",22395.159298,20981.869631
5185,5185,2017-0581-GMB,2017,581,NaN,Natural,Hydrological,Flood,NaN,NaN,...,NaN,NaN,NaN,90.460179,NaN,NaN,NaN,NaN,NaN,NaN
5457,5457,2016-0579-PNG,2016,579,NaN,Natural,Hydrological,Flood,NaN,NaN,...,NaN,NaN,NaN,88.573453,1,2300,NaN,Morobe (Adm1).,NaN,NaN

In [26]:
# in matched data nan fatalities appear as erroneously as 0
emdat_matched.loc[emdat_matched['total_deaths']==0,'total_deaths']=np.nan

In [27]:
# we recover 'Total Damages, Adjusted (1000 US$)', 'Start Year', 'Start Month', 'Start Day'
emdat_long.columns

Index(['Unnamed: 0', 'Dis No', 'Year', 'Seq', 'Glide', 'Disaster Group',
       'Disaster Subgroup', 'Disaster Type', 'Disaster Subtype',
       'Disaster Subsubtype', 'Event Name', 'Country', 'ISO', 'Region',
       'Continent', 'Location', 'Origin', 'Associated Dis', 'Associated Dis2',
       'OFDA Response', 'Appeal', 'Declaration', 'AID Contribution ('000 US$)',
       'Dis Mag Value', 'Dis Mag Scale', 'Latitude', 'Longitude', 'Local Time',
       'River Basin', 'Start Year', 'Start Month', 'Start Day', 'End Year',
       'End Month', 'End Day', 'Total Deaths', 'No Injured', 'No Affected',
       'No Homeless', 'Total Affected', 'Reconstruction Costs (1000 US$)',
       'Reconstruction Costs, Adjusted (1000 US$)',
       'Insured Damages (1000 US$)', 'Insured Damages, Adjusted (1000 US$)',
       'Total Damages (1000 US$)', 'Total Damages, Adjusted (1000 US$)', 'CPI',
       'Adm Level', 'Admin1 Code', 'Admin2 Code', 'Geo Locations',
       'Total Damages, Adjusted CPI 2011', 'CPI_conv_ppp'],
      dtype='object')

In [28]:
emdat_matched.columns

Index(['ISO3', 'year', 'disasterno', 'total_deaths', 'no_injured',
       'no_affected_EMDAT', 'no_homeles', 'total_affected_EMDAT',
       'total_damages_(000_USD)', 'idx', 'DFO_matches', 'DFO_matches_nr',
       'matching_type', 'DFO_matches_time_dif', 'DFO_duration',
       'DFO_satellite_shape_area', 'affected_sum_GHSL', 'affected_mean_GHSL',
       'DFO_satellite_shape_pop_density_GHSL', 'affected_sum_GPW',
       'affected_mean_GPW', 'DFO_satellite_shape_pop_density_GPW',
       'GDP_affected_sum', 'cable_affected_sum', 'plant_affected_sum',
       'power_pole_affected_sum', 'power_tower_affected_sum',
       'line_affected_sum', 'mast_affected_sum',
       'communication_tower_affected_sum', 'doctors_affected_sum',
       'hospital_affected_sum', 'pharmacy_affected_sum',
       'primary_road_affected_sum', 'tertiary_road_affected_sum',
       'reservoir_affected_sum', 'school_affected_sum',
       'university_affected_sum', 'GDP_affected_mean',
       'education_affected_mean', 'energy_affected_mean',
       'health_affected_mean', 'telecommunication_affected_mean',
       'transportation_affected_mean', 'water_affected_mean',
       'CISI_global_affected_mean', 'cable_affected_mean',
       'plant_affected_mean', 'power_pole_affected_mean',
       'power_tower_affected_mean', 'line_affected_mean', 'mast_affected_mean',
       'communication_tower_affected_mean', 'doctors_affected_mean',
       'hospital_affected_mean', 'pharmacy_affected_mean',
       'primary_road_affected_mean', 'tertiary_road_affected_mean',
       'reservoir_affected_mean', 'school_affected_mean',
       'university_affected_mean', 'GDPpc_mean', 'HDI_mean',
       'urbanization_mean', 'landuse_total_mean', 'female_mean',
       'pop_0_14_mean', 'pop_65_plus_mean', 'FLOPROS_merged_mean',
       'FLOPROS_modeled_mean', 'forest_cover_mean'],
      dtype='object')

In [29]:
emdat_long

,Unnamed: 0,Dis No,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,...,"Insured Damages, Adjusted (1000 US$)",Total Damages (1000 US$),"Total Damages, Adjusted (1000 US$)",CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations,"Total Damages, Adjusted CPI 2011",CPI_conv_ppp
1794,1794,2000-0372-CHN,2000,372,NaN,Natural,Hydrological,Flood,Riverine flood,NaN,...,NaN,19000.0,29898.0,63.549547,1;2,914,13006;13009;13010,"Jiangxi Sheng (Adm1). Quanzhou, Xiamen, Zhangz...",24819.129390,26236.380252
1795,1795,2000-0373-BGD,2000,373,NaN,Natural,Hydrological,Flood,Flash flood,NaN,...,NaN,NaN,NaN,63.549547,2,NaN,5770;5772,"Chittagong, Cox's Bazar (Adm2).",NaN,NaN
1796,1796,2000-0905-BOL,2000,905,NaN,Natural,Hydrological,Flood,NaN,NaN,...,NaN,NaN,NaN,63.549547,1,40444;40445;40446;40447;40448;40450,NaN,"Chuquisaca, Cochabamba, La Paz, Oruro, Potosi,...",NaN,NaN
1797,1797,2000-0019-BRA,2000,19,NaN,Natural,Hydrological,Flood,Riverine flood,NaN,...,NaN,NaN,NaN,63.549547,2,NaN,8467;8555;9902;9956;9961;9985;11089;11543,"Barra Mansa, Campos Do Jordao, Pirangucu, Rese...",NaN,NaN
1798,1798,2000-0809-BRA,2000,809,NaN,Natural,Hydrological,Flood,Riverine flood,NaN,...,NaN,NaN,NaN,63.549547,2,NaN,7192;7936;10160;11192;11523,"Alto Feliz, Belo Horizonte, Guaruja, Santa Leo...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5035,5035,2018-0386-VEN,2018,386,NaN,Natural,Hydrological,Flood,Flash flood,NaN,...,NaN,NaN,NaN,92.669670,1,3305;67152,NaN,"Aragua, Vargas (Adm1).",NaN,NaN
5036,5036,2018-0290-VEN,2018,290,NaN,Natural,Hydrological,Flood,NaN,NaN,...,NaN,NaN,NaN,92.669670,1,3302;3307;3318,NaN,"Amazonas, Bolivar, Monagas (Adm1).",NaN,NaN
5037,5037,2018-0448-VNM,2018,448,NaN,Natural,Hydrological,Flood,Flash flood,NaN,...,NaN,25000.0,26978.0,92.669670,1,3333;3340;3366;3372;3374;3376;3382,NaN,"Binh Dinh, Da Nang City, Nghe An, Quang Nam, Q...",22395.159298,20981.869631
5185,5185,2017-0581-GMB,2017,581,NaN,Natural,Hydrological,Flood,NaN,NaN,...,NaN,NaN,NaN,90.460179,NaN,NaN,NaN,NaN,NaN,NaN
5457,5457,2016-0579-PNG,2016,579,NaN,Natural,Hydrological,Flood,NaN,NaN,...,NaN,NaN,NaN,88.573453,1,2300,NaN,Morobe (Adm1).,NaN,NaN

In [30]:
# extract only one event
emdat_matched['disasterno'].iloc[0].split(',')

['2005-0556']

In [31]:
# write disaster numbers in separate columns
emdat_long['DisNo_0']= emdat_long['Dis No'].apply(lambda x: x.split('-')[0])
emdat_long['DisNo_1']= emdat_long['Dis No'].apply(lambda x: x.split('-')[1])

In [32]:
emdat_matched['DisNo0']=np.nan
emdat_matched['DisNo1']=np.nan
emdat_matched

,ISO3,year,disasterno,total_deaths,no_injured,no_affected_EMDAT,no_homeles,total_affected_EMDAT,total_damages_(000_USD),idx,...,urbanization_mean,landuse_total_mean,female_mean,pop_0_14_mean,pop_65_plus_mean,FLOPROS_merged_mean,FLOPROS_modeled_mean,forest_cover_mean,DisNo0,DisNo1
0,NPL,2005.0,2005-0556,51.0,NaN,1600.0,NaN,1600.0,NaN,0.0,...,0.001320,0.155180,0.686210,0.570080,0.38624,9.538460,2.384620,0.000150,NaN,NaN
1,BGR,2002.0,2002-0552,1.0,NaN,NaN,NaN,NaN,1000.0,0.0,...,0.006390,0.427120,0.505610,0.118630,0.26071,18.688890,16.533330,0.000230,NaN,NaN
2,LAO,2002.0,2002-0614,2.0,NaN,150000.0,NaN,150000.0,NaN,0.0,...,0.001200,0.148230,0.501300,0.331330,0.04946,7.769230,7.769230,0.000170,NaN,NaN
3,ECU,2013.0,2013-0372,NaN,NaN,25567.0,NaN,25567.0,NaN,0.0,...,0.000020,0.000080,0.494750,0.474130,0.02817,16.000000,16.000000,0.000540,NaN,NaN
4,MEX,2007.0,2007-0435,NaN,NaN,55000.0,NaN,55000.0,NaN,0.0,...,0.005950,0.211480,NaN,NaN,NaN,27.483940,27.483940,0.000230,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
692,IDN,2006.0,"2006-0074,2005-0718",98.0,30.0,17781.0,0.0,17811.0,27100.0,NaN,...,0.023905,0.207520,0.511195,0.291615,0.08103,50.634700,9.652540,0.000225,NaN,NaN
693,GBR,2007.0,"2007-0247,2007-0201",7.0,0.0,200.0,30000.0,30200.0,4448000.0,NaN,...,0.009380,0.223430,0.594865,0.288835,0.41531,44.298245,17.327350,0.000040,NaN,NaN
694,BRA,2008.0,"2008-0016,2008-0041",13.0,12.0,60929.0,1435.0,62376.0,0.0,NaN,...,0.017530,0.130225,0.498715,0.276580,0.13738,19.847825,19.847825,0.000430,NaN,NaN
695,AUS,2010.0,"2010-0103,2010-0066",NaN,0.0,0.0,0.0,0.0,109000.0,NaN,...,0.001005,0.207470,0.471040,0.228995,0.12372,100.000000,48.501345,0.000130,NaN,NaN
696,AUS,2012.0,"2012-0037,2012-0029",4.0,0.0,16000.0,0.0,16000.0,588000.0,NaN,...,0.000095,0.093010,0.446280,0.222230,0.11320,100.000000,48.471385,0.000010,NaN,NaN

In [33]:
# write disaster numbers in separate columns
emdat_matched.iloc[:-97,-2]=emdat_matched['disasterno'].iloc[:-97].apply(lambda x: x.split('-')[0])
emdat_matched.iloc[:-97,-1]=emdat_matched['disasterno'].iloc[:-97].apply(lambda x: x.split('-')[1])
emdat_matched

,ISO3,year,disasterno,total_deaths,no_injured,no_affected_EMDAT,no_homeles,total_affected_EMDAT,total_damages_(000_USD),idx,...,urbanization_mean,landuse_total_mean,female_mean,pop_0_14_mean,pop_65_plus_mean,FLOPROS_merged_mean,FLOPROS_modeled_mean,forest_cover_mean,DisNo0,DisNo1
0,NPL,2005.0,2005-0556,51.0,NaN,1600.0,NaN,1600.0,NaN,0.0,...,0.001320,0.155180,0.686210,0.570080,0.38624,9.538460,2.384620,0.000150,2005,0556
1,BGR,2002.0,2002-0552,1.0,NaN,NaN,NaN,NaN,1000.0,0.0,...,0.006390,0.427120,0.505610,0.118630,0.26071,18.688890,16.533330,0.000230,2002,0552
2,LAO,2002.0,2002-0614,2.0,NaN,150000.0,NaN,150000.0,NaN,0.0,...,0.001200,0.148230,0.501300,0.331330,0.04946,7.769230,7.769230,0.000170,2002,0614
3,ECU,2013.0,2013-0372,NaN,NaN,25567.0,NaN,25567.0,NaN,0.0,...,0.000020,0.000080,0.494750,0.474130,0.02817,16.000000,16.000000,0.000540,2013,0372
4,MEX,2007.0,2007-0435,NaN,NaN,55000.0,NaN,55000.0,NaN,0.0,...,0.005950,0.211480,NaN,NaN,NaN,27.483940,27.483940,0.000230,2007,0435
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
692,IDN,2006.0,"2006-0074,2005-0718",98.0,30.0,17781.0,0.0,17811.0,27100.0,NaN,...,0.023905,0.207520,0.511195,0.291615,0.08103,50.634700,9.652540,0.000225,NaN,NaN
693,GBR,2007.0,"2007-0247,2007-0201",7.0,0.0,200.0,30000.0,30200.0,4448000.0,NaN,...,0.009380,0.223430,0.594865,0.288835,0.41531,44.298245,17.327350,0.000040,NaN,NaN
694,BRA,2008.0,"2008-0016,2008-0041",13.0,12.0,60929.0,1435.0,62376.0,0.0,NaN,...,0.017530,0.130225,0.498715,0.276580,0.13738,19.847825,19.847825,0.000430,NaN,NaN
695,AUS,2010.0,"2010-0103,2010-0066",NaN,0.0,0.0,0.0,0.0,109000.0,NaN,...,0.001005,0.207470,0.471040,0.228995,0.12372,100.000000,48.501345,0.000130,NaN,NaN
696,AUS,2012.0,"2012-0037,2012-0029",4.0,0.0,16000.0,0.0,16000.0,588000.0,NaN,...,0.000095,0.093010,0.446280,0.222230,0.11320,100.000000,48.471385,0.000010,NaN,NaN

In [34]:
# split also composed matches
emdat_matched['DisNo0']=emdat_matched['disasterno'].dropna().apply(lambda x: x.split('-')[0])#[0]
emdat_matched['DisNo1']=emdat_matched['disasterno'].dropna().apply(lambda x: x.split('-')[1]).apply(lambda x: x.split(',')[0])
emdat_matched['DisNo2']=emdat_matched['disasterno'].iloc[-96:].dropna().apply(lambda x: x.split('-')[1]).apply(lambda x: x.split(',')[1])
emdat_matched['DisNo3']=emdat_matched['disasterno'].iloc[-96:].dropna().apply(lambda x: x.split('-')[2])

In [35]:
# calculate the days since 01/01/2000 for all events
d0 = date(2000, 1, 1)
for row in emdat_matched.iterrows():
    lat=[]
    matched_no0=row[1]['DisNo0']
    matched_no1=row[1]['DisNo1']
    if row[0]==658:
        print(row)

    try:
        #print(row[0])
        #print(matched_no0)
        cpi= emdat_long.loc[(emdat_long['DisNo_0']==matched_no0) &
                       (emdat_long['DisNo_1']==matched_no1), 'CPI'].values[0]
        day= emdat_long.loc[(emdat_long['DisNo_0']==matched_no0) &
                       (emdat_long['DisNo_1']==matched_no1), 'Start Day'].values[0]
        month= emdat_long.loc[(emdat_long['DisNo_0']==matched_no0) &
                       (emdat_long['DisNo_1']==matched_no1), 'Start Month'].values[0]
        year= emdat_long.loc[(emdat_long['DisNo_0']==matched_no0) &
                       (emdat_long['DisNo_1']==matched_no1), 'Start Year'].values[0]
        

        if ~np.isnan(day):
            d1 = date(int(year), int(month), int(day))
            delta = d1 - d0

        elif ~np.isnan(month):
            d1 = date(int(year), int(month), 1)
            delta = d1 - d0
        else:
            delta =np.nan
            

        emdat_matched.loc[row[0], 'days']=delta.days
        emdat_matched.loc[row[0], 'cpi']=cpi
        if np.isnan(delta.days):
            print(row)
    except IndexError:
        print(row)
        emdat_matched.loc[row[0], 'days']=np.nan
        emdat_matched.loc[row[0], 'cpi']=np.nan

(658, ISO3                                 IND
year                                2010
disasterno           2010-0492,2010-0493
total_deaths                         200
no_injured                             0
                            ...
forest_cover_mean                      0
DisNo0                              2010
DisNo1                              0492
DisNo2                              2010
DisNo3                              0493
Name: 658, Length: 75, dtype: object)

In [ ]:
emdat_matched=emdat_matched.dropna(subset=['days'])
emdat_matched

In [ ]:
emdat_matched.loc[~emdat_matched['total_damages_(000_USD)'].isna()]

## 1.4 Adjust values for inflation and PPP

In [ ]:
cpi_2011=emdat_matched.loc[emdat_matched['year']==2011,'cpi'].values[0]/100

In [ ]:
emdat_matched['total_damages_(000_USD)_adj2021']=100*emdat_matched['total_damages_(000_USD)']/emdat_matched['cpi']

In [ ]:
emdat_matched['total_damages_(000_USD)_adj2011']=emdat_matched['total_damages_(000_USD)_adj2021']*cpi_2011

In [ ]:
emdat_matched

In [ ]:
# PPP conversion
path='/home/insauer/projects/submission_vul_sat/input_data/pwt91.xlsx'
ppp_convert=pd.read_excel(path, sheet_name='Data')
ppp_convert=ppp_convert.loc[(ppp_convert['year']>1979) & (ppp_convert['year']<2021)]
ppp_convert=ppp_convert[['countrycode', 'year', 'cgdpo', 'rgdpna']]
ppp_convert

In [ ]:
ppp_convert['real_to_ppp']=ppp_convert['cgdpo']/ppp_convert['rgdpna']
ppp_convert

In [ ]:
list(set(emdat_matched['ISO3']))

In [ ]:
# fill values from table for all existing countries and years and save missings
emdat_matched['CPI_conv_ppp'] = 0.0000 #add column to natcat_short that contains ppp-converted damages (2011)
missing_cnts_ppp=[]
for year in range(1980,2019):
    #print year
    for iso in list(set(emdat_matched['ISO3'])):
        #print iso
        if year!=2018:
            convert_tmp = ppp_convert.loc[(ppp_convert['countrycode']==iso) & (ppp_convert['year']==year), 'real_to_ppp']
            if convert_tmp.empty==False:
                emdat_matched.loc[(emdat_matched['ISO3']==iso) & (emdat_matched['year']==year), 'total_damages_(000_USD)_conv_ppp'] = np.array(convert_tmp)[0] * emdat_matched.loc[(emdat_matched['ISO3']==iso) & (emdat_matched['year']==year), 'total_damages_(000_USD)_adj2011']
            else:
                missing_cnts_ppp.append(iso)
                emdat_matched.loc[(emdat_matched['ISO3']==iso) & (emdat_matched['year']==year), 'total_damages_(000_USD)_conv_ppp'] = emdat_matched.loc[(emdat_matched['ISO3']==iso) & (emdat_matched['year']==year), 'total_damages_(000_USD)_adj2011']

        else:
            convert_tmp = ppp_convert.loc[(ppp_convert['countrycode']==iso) & (ppp_convert['year']==2017), 'real_to_ppp']
            if convert_tmp.empty==False:
                emdat_matched.loc[(emdat_matched['ISO3']==iso) & (emdat_matched['year']==year), 'total_damages_(000_USD)_conv_ppp'] = np.array(convert_tmp)[0] * emdat_matched.loc[(emdat_matched['ISO3']==iso) & (emdat_matched['year']==year), 'total_damages_(000_USD)_adj2011']
            else:
                missing_cnts_ppp.append(iso)
                emdat_matched.loc[(emdat_matched['ISO3']==iso) & (emdat_matched['year']==year), 'total_damages_(000_USD)_conv_ppp'] = emdat_matched.loc[(emdat_matched['ISO3']==iso) & (emdat_matched['year']==year), 'total_damages_(000_USD)_adj2011']

In [ ]:
list(set(missing_cnts_ppp))

In [ ]:
path = '/home/insauer/projects/Attribution/Floods/Paper_NC_Review_Data/Input_PPP_conversion/ISO_codes.csv'
num=pd.read_csv(path)

In [ ]:
for i in range(0,len(list(num['ISO']))):
    if num['ISO'][i] in list(ppp_convert['countrycode']): # if ISO exists in all NatCat data  
        ppp_convert.loc[ppp_convert['countrycode']==num['ISO'][i],'Reg_name'] = num['Reg_name'][i]
        ppp_convert.loc[ppp_convert['countrycode']==num['ISO'][i],'Reg_ID'] = num['Reg_ID'][i]
        ppp_convert.loc[ppp_convert['countrycode']==num['ISO'][i],'ID'] = num['ID'][i]

In [ ]:
ppp_convert

In [ ]:
regs=list(set(ppp_convert['Reg_name'].dropna()))
regs

In [ ]:
# fill with regional means
# insert SSA for SSD
missing_ppp_cnts = list(set(missing_cnts_ppp))
missing_ppp = pd.DataFrame()
missing_ppp['ISO']= missing_ppp_cnts
miss_ppp=pd.DataFrame()
other_isos=[]
for i in missing_ppp_cnts:
    temp=pd.DataFrame()
    temp['year'] = np.arange(1980,2018)
    temp['ISO'] = i
    #print(num.loc[num['ISO']==i,'Reg_name'].values)
    print(i)
    reg = num.loc[num['ISO']==i,'Reg_name'].values
    if reg.shape[0]==0:
        other_isos.append(i)
        if i=='SSD':
            reg='SSA'
        else:
            continue
    else:
        reg = num.loc[num['ISO']==i,'Reg_name'].values[0]
    if reg == 'PIS2':
        reg='PIS1'
    for y in np.arange(1980,2018):
        reg_mean = ppp_convert.loc[(ppp_convert['Reg_name']==reg) & (ppp_convert['year']==y), 'real_to_ppp'].mean()
        print(reg)
        print(reg_mean)
        temp.loc[temp['year']==y,'real_to_ppp']=reg_mean
    miss_ppp=miss_ppp.append(temp, ignore_index=True)

In [ ]:
set(missing_cnts_ppp)

In [ ]:
miss_ppp

In [ ]:
miss_ppp=miss_ppp.rename(columns={'ISO': 'countrycode'})
miss_ppp_cnts=list(set(miss_ppp['countrycode']))
ppp_convert=ppp_convert.append(miss_ppp)
ppp_convert=ppp_convert.sort_values(by=['countrycode', 'year'])
ppp_convert

In [ ]:
ppp_convert.to_csv('/home/insauer/projects/submission_vul_sat/input_data/PPP_conversion_factors_final.csv')

In [ ]:
emdat_matched['CPI_conv_ppp'] = 0.0000 #add column to natcat_short that contains ppp-converted damages (2011)
missing_cnts_ppp=[]
for year in range(1980,2019):
    #print year
    for iso in list(set(emdat_matched['ISO3'])):
        #print iso
        if year!=2018:
            convert_tmp = ppp_convert.loc[(ppp_convert['countrycode']==iso) & (ppp_convert['year']==year), 'real_to_ppp']
            if convert_tmp.empty==False:
                emdat_matched.loc[(emdat_matched['ISO3']==iso) & (emdat_matched['year']==year), 'total_damages_(000_USD)_conv_ppp'] = np.array(convert_tmp)[0] * emdat_matched.loc[(emdat_matched['ISO3']==iso) & (emdat_matched['year']==year), 'total_damages_(000_USD)_adj2011']
            else:
                missing_cnts_ppp.append(iso)
                emdat_matched.loc[(emdat_matched['ISO3']==iso) & (emdat_matched['year']==year), 'total_damages_(000_USD)_conv_ppp'] = emdat_matched.loc[(emdat_matched['ISO3']==iso) & (emdat_matched['year']==year), 'total_damages_(000_USD)_adj2011']

        else:
            convert_tmp = ppp_convert.loc[(ppp_convert['countrycode']==iso) & (ppp_convert['year']==2017), 'real_to_ppp']
            if convert_tmp.empty==False:
                emdat_matched.loc[(emdat_matched['ISO3']==iso) & (emdat_matched['year']==year), 'total_damages_(000_USD)_conv_ppp'] = np.array(convert_tmp)[0] * emdat_matched.loc[(emdat_matched['ISO3']==iso) & (emdat_matched['year']==year), 'total_damages_(000_USD)_adj2011']
            else:
                missing_cnts_ppp.append(iso)
                emdat_matched.loc[(emdat_matched['ISO3']==iso) & (emdat_matched['year']==year), 'total_damages_(000_USD)_conv_ppp'] = emdat_matched.loc[(emdat_matched['ISO3']==iso) & (emdat_matched['year']==year), 'total_damages_(000_USD)_adj2011']

In [ ]:
missing_cnts_ppp

## 1.5 Asset conversion EM-DAT

In [ ]:
conv_facs=pd.read_csv('/home/insauer/projects/submission_vul_sat/input_data/gdp_to_asset_conversion.csv')
conv_facs

In [ ]:
cnts=list(set(emdat_matched['ISO3']))

In [ ]:
for c in cnts:
    for year in np.arange(2000,2019):
        if year==2018:
            y=2017
        else:
            y=year
        if not conv_facs.loc[(conv_facs['year']==y) & (conv_facs['countrycode']==c)].shape[0]==0:
            if not emdat_matched.loc[(emdat_matched['ISO3']==c) & (emdat_matched['year']==year)].shape[0]==0:
                print(emdat_matched.loc[(emdat_matched['ISO3']==c) & (emdat_matched['year']==year), 'GDP_affected_sum'])
                
                
                
                emdat_matched.loc[(emdat_matched['ISO3']==c) & (emdat_matched['year']==year), 'asset_conv']=conv_facs.loc[(conv_facs['year']==y) &
                                                                                                              (conv_facs['countrycode']==c), 'gdp_to_asset'].values[0]
                emdat_matched.loc[(emdat_matched['ISO3']==c) & (emdat_matched['year']==year), 'exposed_asset']= conv_facs.loc[(conv_facs['year']==y) &
                                                                                                              (conv_facs['countrycode']==c), 'gdp_to_asset'].values[0] *emdat_matched.loc[(emdat_matched['ISO3']==c) & (emdat_matched['year']==year), 'GDP_affected_sum']

                print(emdat_matched.loc[(emdat_matched['ISO3']==c) & (emdat_matched['year']==year), 'exposed_asset'])

In [ ]:
emdat_matched

In [ ]:
cnts=list(set(natcat_matched['ISO']))

In [ ]:
for c in cnts:
    for year in np.arange(2000,2019):
        if year==2018:
            y=2017
        else:
            y=year
        if not conv_facs.loc[(conv_facs['year']==y) & (conv_facs['countrycode']==c)].shape[0]==0:
            if not natcat_matched.loc[(natcat_matched['ISO']==c) & (natcat_matched['year']==year)].shape[0]==0:
                print(natcat_matched.loc[(natcat_matched['ISO']==c) & (natcat_matched['year']==year), 'GDP_affected_sum'])
                
                
                
                natcat_matched.loc[(natcat_matched['ISO']==c) & (natcat_matched['year']==year), 'asset_conv']=conv_facs.loc[(conv_facs['year']==y) &
                                                                                                              (conv_facs['countrycode']==c), 'gdp_to_asset'].values[0]
                natcat_matched.loc[(natcat_matched['ISO']==c) & (natcat_matched['year']==year), 'exposed_asset']= conv_facs.loc[(conv_facs['year']==y) &
                                                                                                              (conv_facs['countrycode']==c), 'gdp_to_asset'].values[0] *natcat_matched.loc[(natcat_matched['ISO']==c) & (natcat_matched['year']==year), 'GDP_affected_sum']

                print(natcat_matched.loc[(natcat_matched['ISO']==c) & (natcat_matched['year']==year), 'exposed_asset'])

## 1.6 convert timestamps in NatCatSERVICE and IDMC to days

In [ ]:
d0 = date(2000, 1, 1)
def coverts_2days(x):
    d1= x.split(' ')[0].split('-')
    d1= date(int(d1[0]), int(d1[1]), int(d1[2]))
    delta= d1-d0
    return delta.days

In [ ]:
natcat_matched['days']= natcat_matched['begin_dt'].apply(coverts_2days)

In [ ]:
natcat_matched

In [ ]:
idmc_long

In [ ]:
idmc_matched

In [ ]:
import itertools

missinginds=[]
maxL=10
for row in idmc_matched.iterrows():
    lat=[]
    matched_no0=row[1]['ISO3']
    matched_no1=row[1]['year']
    matched_no2=row[1]['displacements']
    
    list_dates= idmc_long.loc[(idmc_long['ISO3']==matched_no0) &
                       (idmc_long['Year']==matched_no1)&
                  (idmc_long['Internal Displacements']==matched_no2)
                  , 'Start Date'].values
    if np.isnan(matched_no2) or np.isnan(matched_no1):
        idmc_matched.loc[row[0],'start_date']=np.nan
        continue
        
    if len(list_dates)==1:
        idmc_matched.loc[row[0],'start_date']=list_dates[0]
    
    if len(list_dates)>1:
        idmc_matched.loc[row[0],'start_date']=list_dates[0]
    
    if len(list_dates)<1:
        
        events_disp= idmc_long.loc[(idmc_long['ISO3']==matched_no0) &
                       (idmc_long['Year']==matched_no1), 'Internal Displacements'].values
        if sum(events_disp)== matched_no2:
            idmc_matched.loc[row[0],'start_date']= idmc_long.loc[(idmc_long['ISO3']==matched_no0) &
                       (idmc_long['Year']==matched_no1), 'Start Date'].values[0]
        elif len(events_disp)>2:
            stuff=np.arange(len(events_disp))
            L= len(events_disp)
            if L >maxL:
                L=maxL
            
            for i in np.arange(2,L):
                for subset in itertools.combinations(stuff, i):
                    sums=0
                    #print(subset)
                    for j in subset:
                        sums+=events_disp[j]
                    if sums==matched_no2:
                        
                        break
                if sums==matched_no2:
                    
                    idmc_matched.loc[row[0],'start_date']= idmc_long.loc[(idmc_long['ISO3']==matched_no0) &
                           (idmc_long['Year']==matched_no1), 'Start Date'].values[subset[0]]
                    break
            if sums==matched_no2:
                continue
                
                    
            
        else:
            missinginds.append(row[0])
            print('not found')
            print(idmc_long.loc[(idmc_long['ISO3']==matched_no0) &
                       (idmc_long['Year']==matched_no1),'Internal Displacements'].count())

In [ ]:
idmc_matched.loc[idmc_matched['start_date'].isna()]

In [ ]:
# we fill missing dates with valid displacements with a date in the middle of the year
idmc_matched.loc[(idmc_matched['ISO3']=='MYS') &
                       (idmc_matched['year']==2016), 'start_date']='2016-06-01'
idmc_matched.loc[(idmc_matched['ISO3']=='PHL') &
                       (idmc_matched['year']==2009), 'start_date']='2009-06-01'
idmc_matched.loc[(idmc_matched['ISO3']=='THA') &
                       (idmc_matched['year']==2016), 'start_date']='2016-06-01'

In [ ]:
idmc_matched.head(20)

In [ ]:
idmc_matched['days']= idmc_matched['start_date'].dropna().apply(coverts_2days)

In [ ]:
idmc_matched

## 1.7 Generate country level data

In [ ]:
all_cnts= set(emdat_long['ISO']) | set(natcat_all['ISO'])| set(idmc_long['ISO3'])

In [ ]:
len(set(natcat_all['ISO']))

In [ ]:
len(all_cnts)

In [ ]:
natcat_matched.iloc[:,:20]

In [ ]:
natcat_all.loc[(natcat_all['ISO']==c)& (natcat_all['year']>=2000)&(~(natcat_matched['CPI_conv_ppp'].isna()))]

In [ ]:
idmc_long

In [ ]:
# derive country level shares of matched events
affected_df=pd.DataFrame()

for c in all_cnts:
    row_df=pd.DataFrame()
    row_df.loc[0,'iso']=c
    # event cnt
    row_df['event_cnt_natcat_2000_asset']=natcat_all.loc[(natcat_all['ISO']==c)&
                                                   (natcat_all['year']>=2000)&
                                                   (~natcat_all['CPI_conv_ppp'].isna())
                                                   ].shape[0]
    row_df['event_cnt_natcat_2000_fat']=natcat_all.loc[(natcat_all['ISO']==c)&
                                                   (natcat_all['year']>=2000)&
                                                   (~natcat_all['Fatalities'].isna())
                                                   ].shape[0]
    
    row_df['event_cnt_emdat_2000_asset']=emdat_long.loc[(emdat_long['ISO']==c)&
                                                   (emdat_long['Year']>=2000)&
                                                 (emdat_long['Year']<=2018)&
                                                ((~emdat_long['Total Damages, Adjusted (1000 US$)'].isna()))    
                                                       ].shape[0]
    row_df['event_cnt_emdat_2000_fat']=emdat_long.loc[(emdat_long['ISO']==c)&
                                                   (emdat_long['Year']>=2000)&
                                                 (emdat_long['Year']<=2018)&
                                                ((~emdat_long['Total Deaths'].isna()))   
                                                       ].shape[0]
    row_df['event_cnt_idmc_2000']=idmc_long.loc[(idmc_long['ISO3']==c)&
                                                   (idmc_long['Year']>=2000)&
                                                 (idmc_long['Year']<=2018)&
                                               (~idmc_long['Internal Displacements'].isna())].shape[0]
    
    

    row_df['match_cnt_natcat_fat']=natcat_matched.loc[(natcat_matched['ISO']==c)&
                                                 (~natcat_matched['Fatalities'].isna())].shape[0]
    
    row_df['match_cnt_natcat_asset']=natcat_matched.loc[(natcat_matched['ISO']==c)&
                                                 (~natcat_matched['CPI_conv_ppp'].isna())].shape[0]
    
    row_df['match_cnt_emdat_fat']=emdat_matched.loc[(emdat_matched['ISO3']==c)&
                                               ((~emdat_matched['total_deaths'].isna()))
                                               ].shape[0]
    
    row_df['match_cnt_emdat_asset']=emdat_matched.loc[(emdat_matched['ISO3']==c)&
                                               ((~emdat_matched['total_damages_(000_USD)_conv_ppp'].isna()))
                                               ].shape[0]
    
    
    row_df['match_cnt_idmc']=idmc_matched.loc[(idmc_matched['ISO3']==c) &
                                             (~idmc_matched['displacements'].isna())].shape[0]
    
    row_df['matches_share_natcat_asset']=row_df['match_cnt_natcat_asset']/row_df['event_cnt_natcat_2000_asset']
    row_df['matches_share_natcat_fat']=row_df['match_cnt_natcat_fat']/row_df['event_cnt_natcat_2000_fat']
    row_df['matches_share_emdat_asset']=row_df['match_cnt_emdat_asset']/row_df['event_cnt_emdat_2000_asset']
    row_df['matches_share_emdat_fat']=row_df['match_cnt_emdat_fat']/row_df['event_cnt_emdat_2000_fat']
    row_df['matches_share_idmc']=row_df['match_cnt_idmc']/row_df['event_cnt_idmc_2000']
    affected_df=affected_df.append(row_df, ignore_index=True)

In [ ]:
affected_df.dropna(subset=['iso'])

In [ ]:
world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))
world.loc[world['iso_a3']=='-99']

In [ ]:
world.loc[world['name']=='Kosovo', 'iso_a3']='KSV'
world.loc[world['name']=='Norway', 'iso_a3']='NOR'
world.loc[world['name']=='France', 'iso_a3']='FRA'
world

In [ ]:
world.plot()

In [ ]:
world=world.merge(affected_df,how='left', left_on='iso_a3', right_on='iso')
world

In [ ]:
natcat_matched.iloc[:,20:40]

## 1.8 Add regions and income groups

In [ ]:
regions=pd.read_excel('/home/insauer/projects/submission_vul_sat/input_data/CLASS.xlsx')
regions=regions.dropna(subset=['Region'])
regions

In [ ]:
natcat_matched.loc[:,'income_group']=np.nan
natcat_matched.loc[:,'regions']=np.nan
emdat_matched.loc[:,'income_group']=np.nan
emdat_matched.loc[:,'regions']=np.nan
idmc_matched.loc[:,'income_group']=np.nan
idmc_matched.loc[:,'regions']=np.nan

In [ ]:
for iso in regions['Code']:
    natcat_matched.loc[natcat_matched['ISO']==iso,'income_group']=regions.loc[regions['Code']==iso,'Income group'].values[0]
    emdat_matched.loc[emdat_matched['ISO3']==iso,'income_group']=regions.loc[regions['Code']==iso,'Income group'].values[0]
    idmc_matched.loc[idmc_matched['ISO3']==iso,'income_group']=regions.loc[regions['Code']==iso,'Income group'].values[0]
    
    natcat_matched.loc[natcat_matched['ISO']==iso,'region']=regions.loc[regions['Code']==iso,'Region'].values[0]
    emdat_matched.loc[emdat_matched['ISO3']==iso,'region']=regions.loc[regions['Code']==iso,'Region'].values[0]
    idmc_matched.loc[idmc_matched['ISO3']==iso,'region']=regions.loc[regions['Code']==iso,'Region'].values[0]
    
    world.loc[world['iso']==iso, 'income_group']=regions.loc[regions['Code']==iso,'Income group'].values[0]
    world.loc[world['iso']==iso, 'region']=regions.loc[regions['Code']==iso,'Region'].values[0]

In [ ]:
natcat_matched.loc[natcat_matched['income_group'].isna()&~natcat_matched['ISO'].isna()]

In [ ]:
# fill information for missing columns
natcat_matched.loc[natcat_matched['ISO']=='VEN', 'income_group']='High income'
natcat_matched.loc[natcat_matched['ISO']=='KSV', 'income_group']='Upper middle income'
natcat_matched.loc[natcat_matched['income_group'].isna()]

In [ ]:
natcat_matched.loc[natcat_matched['region'].isna()]

In [ ]:
natcat_matched.loc[natcat_matched['ISO']=='KSV', 'region']='Europe & Central Asia'
natcat_matched.loc[natcat_matched['region'].isna()]

In [ ]:
emdat_matched.loc[emdat_matched['region'].isna()]

In [ ]:
emdat_matched.loc[emdat_matched['income_group'].isna()]

In [ ]:
emdat_matched.loc[emdat_matched['ISO3']=='VEN', 'income_group']='High income'
emdat_matched.loc[emdat_matched['income_group'].isna()]

In [ ]:
idmc_matched.loc[idmc_matched['region'].isna()]

In [ ]:
idmc_matched.loc[idmc_matched['income_group'].isna()]

In [ ]:
idmc_matched.loc[idmc_matched['ISO3']=='VEN', 'income_group']='High income'
idmc_matched.loc[idmc_matched['income_group'].isna()]

In [ ]:
world.loc[world['region'].isna()&~world['iso'].isna()]

In [ ]:
world.loc[world['iso']=='KSV', 'region']='Europe & Central Asia'
world.loc[world['iso']=='ESH', 'region']='Middle East & North Africa'

In [ ]:
world=world.dropna(subset=['iso'])

In [ ]:
world.loc[world['income_group'].isna()]

In [ ]:
world.loc[world['iso']=='VEN', 'income_group']='High income'
world.loc[world['iso']=='KSV', 'income_group']='Upper middle income'
world.loc[world['iso']=='ESH', 'income_group']='Low income'

In [ ]:
list(set(world['region']))

In [ ]:
world['income_group_num']=world['income_group'].replace(['Lower middle income',
 'Low income',
 'High income',
 'Upper middle income'], [1,0,3,2])

world['region_num']=world['region'].replace(['Sub-Saharan Africa',
 'Europe & Central Asia',
 'Middle East & North Africa',
 'Latin America & Caribbean',
 'East Asia & Pacific',
 'South Asia',
 'North America'], [0,1,2,3,4,5,6])

In [ ]:
# Assign categorical values for development
#https://hdr.undp.org/data-center/human-development-index#/indicies/HDI
natcat_matched['development']=np.nan
emdat_matched['development']=np.nan
idmc_matched['development']=np.nan

natcat_matched.loc[natcat_matched['HDI_mean']<=0.55, 'development']='low'
natcat_matched.loc[(natcat_matched['HDI_mean']>0.55)&
                   (natcat_matched['HDI_mean']<=0.699)
                   , 'development']='medium'

natcat_matched.loc[(natcat_matched['HDI_mean']>0.699)&
                   (natcat_matched['HDI_mean']<=0.8)
                   , 'development']='high'
natcat_matched.loc[natcat_matched['HDI_mean']>0.8, 'development']='very high'

emdat_matched.loc[emdat_matched['HDI_mean']<=0.55, 'development']='low'
emdat_matched.loc[(emdat_matched['HDI_mean']>0.55)&
                   (emdat_matched['HDI_mean']<=0.699)
                   , 'development']='medium'

emdat_matched.loc[(emdat_matched['HDI_mean']>0.699)&
                   (emdat_matched['HDI_mean']<=0.8)
                   , 'development']='high'
emdat_matched.loc[emdat_matched['HDI_mean']>0.8, 'development']='very high'

idmc_matched.loc[idmc_matched['HDI_mean']<=0.55, 'development']='low'
idmc_matched.loc[(idmc_matched['HDI_mean']>0.55)&
                   (idmc_matched['HDI_mean']<=0.699)
                   , 'development']='medium'

idmc_matched.loc[(idmc_matched['HDI_mean']>0.699)&
                   (idmc_matched['HDI_mean']<=0.8)
                   , 'development']='high'
idmc_matched.loc[idmc_matched['HDI_mean']>0.8, 'development']='very high'

In [ ]:
world

In [ ]:
natcat_matched.loc[(~natcat_matched['CPI_conv_ppp'].isna())&(natcat_matched['CPI_conv_ppp']>0), 'region'].value_counts()

In [ ]:
natcat_matched.loc[~natcat_matched['Fatalities'].isna(), 'region'].value_counts()

In [ ]:
emdat_matched.loc[(~emdat_matched['total_damages_(000_USD)_conv_ppp'].isna())&(emdat_matched['total_damages_(000_USD)_conv_ppp']>0), 'region'].value_counts()

In [ ]:
emdat_matched.loc[(~emdat_matched['total_deaths'].isna()), 'region'].value_counts()

In [ ]:
idmc_matched.loc[(~idmc_matched['displacements'].isna()), 'region'].value_counts()

In [ ]:
natcat_matched.loc[(~natcat_matched['CPI_conv_ppp'].isna())&(natcat_matched['CPI_conv_ppp']>0), 'income_group'].value_counts()

In [ ]:
natcat_matched.loc[~natcat_matched['Fatalities'].isna(), 'income_group'].value_counts()

In [ ]:
emdat_matched.loc[(~emdat_matched['total_damages_(000_USD)_conv_ppp'].isna())&(emdat_matched['total_damages_(000_USD)_conv_ppp']>0), 'income_group'].value_counts()

In [ ]:
emdat_matched.loc[(~emdat_matched['total_deaths'].isna()), 'income_group'].value_counts()

In [ ]:
idmc_matched.loc[(~idmc_matched['displacements'].isna()), 'income_group'].value_counts()

In [ ]:
cm = 1/2.54
x_width= 18.0*cm
y_width= 21.5*cm
y_width

In [ ]:
world2= world.replace([0],[np.nan])

In [ ]:
fig1 = plt.figure(figsize=(x_width,y_width), dpi=600)
plt.subplots_adjust(top=0.95, bottom= 0.05, left= 0.05, right=0.95, wspace=0., hspace=0.2)

fig1.patch.set_facecolor('white')
variables=['event_cnt_idmc_2000', 'match_cnt_idmc', 'matches_share_idmc',
           'event_cnt_natcat_2000_asset', 'match_cnt_natcat_asset', 'matches_share_natcat_asset',
           'event_cnt_natcat_2000_fat', 'match_cnt_natcat_fat', 'matches_share_natcat_fat',
           'event_cnt_emdat_2000_asset', 'match_cnt_emdat_asset','matches_share_emdat_asset',
           'event_cnt_emdat_2000_fat', 'match_cnt_emdat_fat', 'matches_share_emdat_fat']

units=['Number of Events', 'Number of Events', 'Matched Share',
       'Number of Events', 'Number of Events', 'Matched Share',
       'Number of Events', 'Number of Events', 'Matched Share',
       'Number of Events', 'Number of Events', 'Matched Share',
       'Number of Events', 'Number of Events', 'Matched Share']
titles=['Events 2008-2018 IDMC', 'Events matched 2008-2018 IDMC', 'Share of matched events IDMC',
        'Events 2000-2016 NatCatSERVICE', 'Events matched 2000-2016 NatCat (damage)', 'Share of matched events NatCat (damage)',
        'Events 2000-2016 NatCatSERVICE', 'Events matched 2000-2016 NatCat (fatalities)', 'Share of matched events NatCat (fatalities)',
        'Events 2000-2018 EM-DAT', 'Events matched 2000-2018 EM-DAT (damage)', 'Share of matched events EM-DAT (damage)',
        'Events 2000-2018 EM-DAT', 'Events matched 2000-2018 EM-DAT (fatalities)', 'Share of matched events EM-DAT (fatalities)']
gs = fig1.add_gridspec(20, 3)

v=0

maxi=[299, 55, 0.8,
      299, 55, 0.8,
      299, 55, 0.8,
      299, 55, 0.8,
      299, 55, 0.8]

mini=[-5,0,0,
      -5,0,0,
      -5,0,0,
      -5,0,0,
      -5,0,0]

for i,row in enumerate([0,4,8,12,16]):
    for col in [0,1,2]:
        
        f3_ax1 = fig1.add_subplot(gs[row: row+3, col:col+1])
        divider = make_axes_locatable(f3_ax1)
        cax = divider.append_axes("bottom", size="5%")
        world.plot(ax=f3_ax1,color="white", edgecolor='k', linewidth=0.1)
        world2.plot(ax=f3_ax1,cax=cax,column=variables[v], vmin=mini[v], vmax=maxi[v],
                   cmap= 'viridis_r',legend=True,
                  edgecolor='black', linewidth=0.1,legend_kwds={'orientation': "horizontal"})#
        f3_ax1.set_yticklabels([])
        f3_ax1.set_xticklabels([])
        f3_ax1.set_title(titles[v],fontsize=6.5)
        f3_ax1.set_yticks([])
        
        ticks=cax.get_xticklabels()
        cax.set_xticklabels(ticks, fontsize=6)
        #cax.tick_params(axis='both', which='major', labelsize=6)
        if i==4:
            cax.set_xlabel(units[v], fontsize=6)
        v+=1
plt.savefig('/home/insauer/projects/flood_vulnerability_sat/Figures/Supplement/SI_summary_statistics.png')

In [ ]:
cm = 1/2.54
x_width= 18.0*cm
y_width= 6.0*cm
y_width

In [ ]:
fig1 = plt.figure(figsize=(x_width,y_width), dpi=600)
plt.subplots_adjust(top=0.95, bottom= 0.05, left= 0.05, right=0.95, wspace=0., hspace=0.0)

fig1.patch.set_facecolor('white')
variables=['region', 'income_group']

titles=['Regions', 'Income Groups']
gs = fig1.add_gridspec(1, 2)

v=0

maxi=[300, 55, 0.6,
      300, 55, 0.6,
      300, 55, 0.6,
      300, 55, 0.6,
      300, 55, 0.6]

mini=[0,0,0,
      0,0,0,
      0,0,0,
      0,0,0,
      0,0,0]

for i,row in enumerate([0]):
    for col in [0,1]:
        
        f3_ax1 = fig1.add_subplot(gs[0: 1, col:col+1])
        world.plot(ax=f3_ax1,color="white", edgecolor='k', linewidth=0.1)
        world.dropna(subset=[variables[v]]).plot(ax=f3_ax1,categorical=True,column=variables[v], cmap= 'Dark2',
                                                cax=cax,legend=True, edgecolor='black', linewidth=0.1,
                                                     legend_kwds={'fontsize': 5,
                                                                'markerscale':0.4,
                                                                'frameon':False})#
        leg = f3_ax1.get_legend()
        leg.set_bbox_to_anchor((0.3,0.62))
        #leg.set_
        f3_ax1.set_axis_off()
        f3_ax1.set_yticklabels([])
        f3_ax1.set_xticklabels([])
        f3_ax1.set_title(titles[v],fontsize=7)
        f3_ax1.tick_params(axis='both', which='major', labelsize=2)
        f3_ax1.set_axis_off()
        ticks=cax.get_xticklabels()
        cax.set_xticklabels(ticks, fontsize=5)
        cax.set_xlabel(units[v], fontsize=5)
        v+=1
plt.savefig('/home/insauer/projects/flood_vulnerability_sat/Figures/Supplement/SI_region_ig.png')
plt.savefig('/home/insauer/projects/flood_vulnerability_sat/Figures/Supplement/SI_region_ig.pdf')

## 1.9 Calculate vulnerabilities

In [ ]:
# calculate vulnerabilities (damages in NatCatSERVICE are given in million USD)
natcat_matched['vul_asset']=natcat_matched['CPI_conv_ppp']*1000000/natcat_matched['exposed_asset']
natcat_matched['log_vul_asset']=np.log10(natcat_matched['vul_asset']).replace([-np.inf,np.inf],[np.nan,np.nan])
natcat_matched['vul_fat']=natcat_matched['Fatalities']/natcat_matched['affected_sum_GPW']
natcat_matched['log_vul_fat']=np.log10(natcat_matched['vul_fat']).replace([-np.inf,np.inf],[np.nan,np.nan])

In [ ]:
# calculate vulnerabilities (damages in EM-DAT are given in thousand USD)
emdat_matched['vul_asset']=emdat_matched['total_damages_(000_USD)_conv_ppp']*1000/emdat_matched['exposed_asset']
emdat_matched['log_vul_asset']=np.log10(emdat_matched['vul_asset']).replace([-np.inf,np.inf],[np.nan,np.nan])
emdat_matched['vul_fat']=emdat_matched['total_deaths']/emdat_matched['affected_sum_GPW']
emdat_matched['log_vul_fat']=np.log10(emdat_matched['vul_fat']).replace([-np.inf,np.inf],[np.nan,np.nan])

In [ ]:
idmc_matched['vul_dis']=idmc_matched['displacements']/idmc_matched['affected_sum_GPW']
idmc_matched['vul_dis']=idmc_matched['vul_dis'].replace([-np.inf,np.inf],[np.nan,np.nan])
idmc_matched['log_vul_dis']=np.log10(idmc_matched['vul_dis']).replace([-np.inf,np.inf],[np.nan,np.nan])

In [ ]:
natcat_median_vul=natcat_matched.groupby('ISO').median()
emdat_median_vul=emdat_matched.groupby('ISO3').median()
idmc_median_vul=idmc_matched.groupby('ISO3').median()
natcat_mean_vul=natcat_matched.groupby('ISO').mean()
emdat_mean_vul=emdat_matched.groupby('ISO3').mean()
idmc_mean_vul=idmc_matched.groupby('ISO3').mean()

In [ ]:
natcat_mean_vul['log_vul_asset']=np.log10(natcat_mean_vul['vul_asset']).replace([-np.inf, np.inf], [np.nan,np.nan])
natcat_mean_vul['log_vul_fat']=np.log10(natcat_mean_vul['vul_fat']).replace([-np.inf, np.inf], [np.nan,np.nan])
emdat_mean_vul['log_vul_asset']=np.log10(emdat_mean_vul['vul_asset']).replace([-np.inf, np.inf], [np.nan,np.nan])
emdat_mean_vul['log_vul_fat']=np.log10(emdat_mean_vul['vul_fat']).replace([-np.inf, np.inf], [np.nan,np.nan])
idmc_mean_vul['log_vul_dis']=np.log10(idmc_mean_vul['vul_dis']).replace([-np.inf, np.inf], [np.nan,np.nan])

In [ ]:
for iso in list(set(world['iso'].dropna())):
    try:
        world.loc[world['iso']==iso, 'natcat_vul_asset']=natcat_mean_vul.loc[iso,'vul_asset']
        world.loc[world['iso']==iso, 'natcat_vul_fat']=natcat_mean_vul.loc[iso,'vul_fat']
        world.loc[world['iso']==iso, 'natcat_log_vul_asset']=natcat_mean_vul.loc[iso,'log_vul_asset']
        world.loc[world['iso']==iso, 'natcat_log_vul_fat']=natcat_mean_vul.loc[iso,'log_vul_fat']
    except KeyError:
        print('natcat '+ iso)
    try:
        world.loc[world['iso']==iso, 'emdat_vul_asset']=emdat_mean_vul.loc[iso,'vul_asset']
        world.loc[world['iso']==iso, 'emdat_vul_fat']=emdat_mean_vul.loc[iso,'vul_fat']
        world.loc[world['iso']==iso, 'emdat_log_vul_asset']=emdat_mean_vul.loc[iso,'log_vul_asset']
        world.loc[world['iso']==iso, 'emdat_log_vul_fat']=emdat_mean_vul.loc[iso,'log_vul_fat']
    except KeyError:
        print('emdat '+ iso)
    try:
    
        world.loc[world['iso']==iso, 'idmc_vul_dis']=idmc_mean_vul.loc[iso,'vul_dis']
        world.loc[world['iso']==iso, 'idmc_log_vul_dis']=idmc_mean_vul.loc[iso,'log_vul_dis']
    except KeyError:
        print('idmc '+ iso)

In [ ]:
world

## 1.9 Add flood experience

In [ ]:
for iso in list(set(natcat_matched['ISO'])):
    print(fld_exp.loc[fld_exp['ISO']==iso, 'flood_exposure'].sum())
    natcat_matched.loc[natcat_matched['ISO']==iso,'modeled_fld_exp']=fld_exp.loc[fld_exp['ISO']==iso, 'flood_exposure'].sum()
    emdat_matched.loc[emdat_matched['ISO3']==iso,'modeled_fld_exp']=fld_exp.loc[fld_exp['ISO']==iso, 'flood_exposure'].sum()
    idmc_matched.loc[idmc_matched['ISO3']==iso,'modeled_fld_exp']=fld_exp.loc[fld_exp['ISO']==iso, 'flood_exposure'].sum()

In [ ]:
world['modeled_fld_exp']=np.nan
for iso in world['iso']:
    world.loc[world['iso']==iso,'modeled_fld_exp']=natcat_matched.loc[natcat_matched['ISO']==iso, 'modeled_fld_exp'].mean()
world['modeled_fld_exp']=world['modeled_fld_exp'].replace([0.0],[np.nan])

In [ ]:
natcat_matched['modeled_fld_exp']=natcat_matched['modeled_fld_exp'].replace([0.0,np.nan])
emdat_matched['modeled_fld_exp']=emdat_matched['modeled_fld_exp'].replace([0.0,np.nan])
idmc_matched['modeled_fld_exp']=idmc_matched['modeled_fld_exp'].replace([0.0,np.nan])

In [ ]:
natcat_matched.to_csv('/home/insauer/projects/submission_vul_sat/data_prepared/FLODIS_NatCat_fatalities_damages_filled.csv')
emdat_matched.to_csv('/home/insauer/projects/submission_vul_sat/data_prepared/FLODIS_fatalities_damages_filled.csv')
idmc_matched.to_csv('/home/insauer/projects/submission_vul_sat/data_prepared/FLODIS_displacements_filled.csv')
world.to_csv('/home/insauer/projects/submission_vul_sat/data_prepared/world_filled.csv')